<section class="about-us-our-team">

<div class="blocks-sc-3col-02 wrapper bg-color-ui-01">
  <div class="spacer x-large"></div>
    <h2 class="text-center"> Our Amazing Team</h2>
    <div class="spacer"></div>
    <p class="text-center subHeading">It's a team where everyone feels respected and valued, and where there is trust among members.</p>
    <div class="spacer x-large"></div>
      <div class="our-team grid-container main-container" data-test="page-our-team-list">
        <div class="team-list grid-x gutter-medium grid-padding-x grid-padding-y">
          <!-- segment -->
          <div class="large-3 medium-6 small-12 cell text-center" data-test="our-team-list-card">
            
              <img loading="lazy" alt="team1" class="ourTeamImg" src="{{ 'modules/website/images/about-us/team-1@2x.jpg' | asset_url }} "/>
            <div class="ourTeamCardHolder">
              <div class="spacer"></div>
                <h3 style="color: white">Robert Fox</h3>
              <div class="spacer x-small"></div>
               <p style="color: white"><strong>CEO</strong></p>
               <div class="spacer x-small"></div>
            </div>
          </div>
          <!-- /segment -->

          <!-- segment -->
          <div class="large-3 medium-6 small-12 cell text-center" data-test="our-team-list-card">
              <img loading="lazy" alt="team2" class="ourTeamImg" src="{{ 'modules/website/images/about-us/team-2@2x.jpg' | asset_url }} "/>
            <div class="ourTeamCardHolder">
              <div class="spacer"></div>
                <h3 style="color: white">Wade Warren</h3>
              <div class="spacer x-small"></div>
                <p style="color: white"><strong>COO</strong></p>
                <div class="spacer x-small"></div>
            </div>
          </div>
          <!-- /segment -->
          
          <!-- segment -->
          <div class="large-3 medium-6 small-12 cell text-center" data-test="our-team-list-card">
              <img loading="lazy" alt="team3" class="ourTeamImg" src="{{ 'modules/website/images/about-us/team-3@2x.jpg' | asset_url }} "/>
            <div class="ourTeamCardHolder">
              <div class="spacer"></div>
                <h3 style="color: white">Jane Cooper</h3>
              <div class="spacer x-small"></div>
                <p style="color: white"><strong>Head of Sales</strong></p>
                <div class="spacer x-small"></div>
            </div>
          </div>
          <!-- /segment -->
          
          <!-- segment -->
          <div class="large-3 medium-6 small-12 cell text-center" data-test="our-team-list-card">
              <img loading="lazy" alt="team4" class="ourTeamImg" src="{{ 'modules/website/images/about-us/team-4@2x.jpg' | asset_url }} "/>
            <div class="ourTeamCardHolder">
              <div class="spacer"></div>
                <h3 style="color: white">Stepher James</h3>
              <div class="spacer x-small"></div>
                <p style="color: white"><strong>Head of Marketing</strong></p>
                <div class="spacer x-small"></div>
            </div>
          </div>
          <!-- /segment -->
        </div>     
      </div>
        
      <div class="spacer"></div>

      <div class="grid-container">
          <div class="spacer"></div>
          <p class="subHeading our-team-desc">A great team is like a well-oiled machine, working together to achieve amazing results. It starts with having the right people in place, with each member bringing their own unique skills and talents to the group. Once the team is assembled, the next step is to create an environment where everyone feels comfortable and supported. This means having clear communication and trust between team members, as well as setting expectations for everyone. It also means providing the resources and tools needed for success and recognizing the contributions of individual members. With all of these elements in place, a team can work together to create something truly amazing.</p>
          <div class="spacer"></div>
          <p class="subHeading our-team-desc"> An amazing team is one that knows how to work together and make the most of their individual strengths. They understand the importance of communication, collaboration, and trust. They understand that working together is more effective than working alone and that everyone has something to contribute. They respect each other's opinions and work together to find the best solutions. They are supportive of each other, celebrating successes and helping each other out in difficult times. An amazing team is a group of people who have come together and created an environment where everyone can thrive.</p>    
      </div>       
  </div>
</section>

<div class="spacer xx-large show-for-large"></div>
<div class="spacer x-large show-for-small"></div>