<section class="about-us-section-content-1">
    <div class="blocks-sc-2col-02 wrapper bg-color-ui-01">
  <div class="spacer xxxx-large"></div>
  <div class="about-us grid-container" data-test="page-about-us">
    <div class="grid-x align-middle">
      <div class="large-6 medium-6 small-12 large-order-1 medium-order-1 small-order-2 cell">
        <h2>We believe in the power of the individual to make great things</h2>
        <div class="spacer"></div>
        <p>We exist to help people with creative ideas stand out and succeed. We create a modern platform that enables millions to build a brand, share their stories, and transact with their customers in an impactful and beautiful online presence.</p>
        <div class="spacer"></div>
       
      </div>
      <div
        class="large-5 large-offset-1 medium-5 medium-offset-1 small-12 large-order-2 medium-order-2 small-order-1 cell">
        <img src="{{ 'modules/website/images/about-us/rectangle-1.png' | asset_url }} "/>
        <div class="spacer xxx-large show-for-small-only"></div>
      </div>
    </div>
  </div>
  <div class="spacer xxx-large"></div>
</div>
</section>