<!-- ABOUT US: Section 1 -->
<section class="about-us-section-content-1">
  <div class="spacer xxxx-large show-for-large"></div>
  <div class="spacer x-large show-for-small"></div>
    <div class="blocks-sc-2col-02 wrapper bg-color-ui-01">
      <div class="about-us grid-container" data-test="page-about-us">
        <div class="grid-x align-middle">
          <div class="large-6 medium-6 small-12 large-order-1 medium-order-1 small-order-2 cell">
            <h2>We believe in the power of the individual to make great things</h2>
            <div class="spacer"></div>
            <p class="subHeading">We exist to help people with creative ideas stand out and succeed. We create a modern platform that enables millions to build a brand, share their stories, and transact with their customers in an impactful and beautiful online presence.</p>
            <div class="spacer"></div>  
          </div>
          <div class="large-5 large-offset-1 medium-5 medium-offset-1 small-12 large-order-2 medium-order-2 small-order-1 cell">
            <img alt="img" loading="lazy" src="{{ 'modules/website/images/about-us/about-us-img.png' | asset_url }} "/>
            <div class="spacer xxx-large show-for-small-only"></div>
          </div>
        </div>
      </div>
    </div>
  <div class="spacer x-large show-for-small"></div>
  <div class="spacer xxxx-large show-for-large"></div>
</section>

<!-- ABOUT US: Section 2 -->
<section class="about-us-section-content-2">
  <div class="blocks-sc-3col-07 wrapper bg-color-ui-01">
    <div class="grid-container">
      <div class="grid-x gutter-medium grid-padding-x">
        <!-- segment -->
        <div class="large-4 medium-6 small-12 cell">
          <h2>Quality Results</h2>
          <div class="spacer"></div>
          <div class="description">
              <p class="subHeading">Each Insites template design has been crafted by our world-class design team, and can be customized to fit your brand. Every template design supports all major content types, including pages, galleries, blogs, commerce, calendars, and more. Our template designs are created with modern browsers and mobile devices in mind, and employ the latest HTML, CSS and Javascript techniques.</p>
          </div>
        </div>
        <!-- /segment -->
        <!-- segment -->
        <div class="large-4 medium-6 small-12 cell">
          <div class="spacer x-large hide-for-large"></div>
          <div class="description">
              <p class="subHeading">A client portal is an online system that allows clients to securely access information from a company. It is generally used to provide clients with access to their data, such as invoices or contracts, as well as any resources or support materials the company may have. Client portals can be incredibly useful for companies, as they allow them to provide faster and more efficient customer service. They also allow clients to take more control over their experience with the company.</p>
          </div>
        </div>
        <!-- /segment -->
        <!-- segment -->
        <div class="large-4 medium-6 small-12 cell">
          <div class="spacer x-large hide-for-large"></div>
          <div class="description">
              <p class="subHeading">The benefits of a client portal are numerous. They can help streamline communication between companies and clients, and make it easier for both parties to access the information they need. They also provide a secure environment for data storage, making it harder for sensitive information to be accessed by unauthorised parties. Finally, client portals can save companies a lot of time and effort when it comes to managing their clients' data and providing customer service.</p>
          </div>
        </div>
        <!-- /segment -->
      </div>
    </div>
  </div>
  <div class="spacer x-large show-for-small"></div>
  <div class="spacer xxxx-large show-for-large"></div>
</section>

<!-- ABOUT US: Single Row -->
<section class="about-us-single-row-section">
    <img alt="img-section" loading="lazy" src="{{ 'modules/website/images/about-us/about-us-section-bg.jpg' | asset_url }} "/>
</section>