<section class="about-us-support">
    <div class="blocks-sc-3col-06 wrapper" style="background-color: #436CF2;">
  <div class="grid-container">
    <div class="small-12 cell text-center">
      <h2 style="color: white">Ongoing support</h2>
      <div class="spacer"></div>
      <p style="color: white">It is a secure and convenient way for clients to access important information and documents, as well as to communicate with the business.</p>
      <div class="spacer"></div>
      </div>
    <div class="service-list grid-x grid-padding-x grid-padding-y gutter-medium align-strech" data-equalizer>
      <!-- card -->
      <div class="large-3 medium-6 small-12 cell align-stretch">
        <a>
          <ins-card steady no-padding>
            <div class="content text-center">
              <i class="icon-check"></i>
              <div class="spacer small"></div>
              <p>Clients can quickly and easily view their account statements, invoices, and other documents.</p>
            </div>
          </ins-card>
        </a>
      </div>
      <!-- /card -->
      <!-- card -->
      <div class="large-3 medium-6 small-12 cell align-stretch">
        <a>
            <ins-card steady no-padding>
                <div class="content text-center">
                  <i class="icon-check"></i>
                  <div class="spacer small"></div>
                  <p>Submit questions or requests directly to the business, and receive responses in a timely manner</p>
                </div>
              </ins-card>
        </a>
      </div>
      <!-- /card -->
      <!-- card -->
      <div class="large-3 medium-6 small-12 cell align-stretch">
        <a>
            <ins-card steady no-padding>
                <div class="content text-center">
                  <i class="icon-check"></i>
                  <div class="spacer small"></div>
                  <p>Used to improve customer service, streamline processes, and reduce paperwork.</p>
                </div>
              </ins-card>
        </a>
      </div>
      <!-- /card -->
            <!-- card -->
            <div class="large-3 medium-6 small-12 cell align-stretch">
                <a>
                    <ins-card steady no-padding>
                        <div class="content text-center">
                          <i class="icon-check"></i>
                          <div class="spacer small"></div>
                          <p>Ideal for businesses that need to keep track of customer data or provide access to secure information</p>
                        </div>
                      </ins-card>
                </a>
              </div>
              <!-- /card -->
    </div>
  </div>
</div>
</section>