---
metadata: {
    layout_name: default
}
---
{% comment %} Layout for pages without form {% endcomment %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include 'modules/website/layout/head' %}
</head>
<body>
    <div class="main-wrap">
        {% include 'modules/website/layout/header' %} 
        {% include 'modules/website/layout/header_mobile' %}
        {%- if context.params.slug == 'portal' and context.params.slug2 == null  -%}
        {%- comment -%} Carousel - Slider {%- endcomment -%}
        {%- include 'modules/portal/layouts/banner', size: 10 -%}        
        {%- else -%}
        <div class="wrapper bg-color-main">
            <div class="grid-container">
                <div class="spacer x-large"></div>
                <h1 class="heading-1">{{context.page.metadata.heading}}</h1>
                <div class="spacer x-large"></div>
            </div>
        </div>
        {%- endif -%}      

        <div class="wrapper portal">
            <div class="grid-container">
                <div class="grid-x gutter-medium grid-padding-x">
                    <div class="large-3 medium-5 small-12 cell bg-color-ui-02">
                        {% include 'modules/portal/layouts/sidebar' %}
                    </div>
                    <div class="large-9 medium-7 small-12 cell bg-color-ui-01 main-content">
                        <div class="spacer xxxx-large"></div>
                        {{ content_for_layout }}
                        <div class="spacer xxxx-large"></div>
                    </div>
                </div>
            </div>
        </div>                    
    </div>
    {% include 'modules/website/layout/footer' %}

    {% comment %} ? For ecommerce cart drawer {% endcomment %}
    {% if context.constants.ecommerce_addon == 'true' %}
        {% include 'modules/ecommerce/carts/cart_drawer' %}
        <script>
            //Trigger a click event on a child <a> element when clicking anywhere inside an element '.product-cards .cell' 
            //(except for ins-buttonn element and its children)
            var productWrappers = document.querySelectorAll('.product-cards .cell');
            productWrappers = (productWrappers.length > 0)? productWrappers : document.querySelectorAll('.purchase-again .grid-x');
            if(productWrappers.length > 0){
                productWrappers.forEach(wrapper => {
                    wrapper.addEventListener('click', function (event) {
                        if (!event.target.closest('ins-button')) {
                            const link = this.querySelector('a');
                            if (link) {
                                link.click();
                            }
                        }
                    });
                });
            }
        </script>
    {% endif %}

</body>
</html>