<div class="adaptive-portal-section">
    
        <div class="adaptive-portal-banner">
            <img class="adaptive-portal-img" loading="lazy" alt="apative portal image" src="{{ 'modules/website/images/home/adaptive_portal.webp' | asset_url }} ">         
            <div class="adaptive-portal-info">
                <div class="adaptive-portal-cta">
                    <div class="spacer xxxx-large"></div>
                    <h2>Adaptive portal for any business need</h2>
                    <div class="spacer medium"></div>
                    <p>This portal is super flexible and can grow with you, making everything run smoother and more efficiently in all kinds of industries.</p>
                    <div class="spacer medium"></div>
                    <ins-button type="button" label="Get in touch" icon-right="icon-arrow-forward" class="m-0" solid></ins-button>
                </div>
            </div>
        </div>    

        {%- graphql get_business_needs = 'modules/website/home/adaptive_portal/get_business_needs' -%}

        {% include 'modules/website/content/components/dynamic_slider', data: get_business_needs, record_to_show: 4 %}
  
</div>




