<!-- STATIC: CLIENT SECTION -->
<div class="spacer x-large"></div>
<section class="client-section">
  <div class="blocks-sc-3col-07 wrapper bg-color-ui-01" >
    <div class="grid-container">
      <div class="spacer x-large"></div>
      <div class="grid-x gutter-medium grid-padding-x text-center">
        <!-- segment -->
        <div class="large-3 medium-6 small-6 cell spacer x-large">
          <a>
            <div class="img-wrap clientLogo">
              
              <img loading="lazy" alt="client 1" src="{{ 'modules/website/images/home/logo-1@2x.png' | asset_url }} ">
            </div>
          </a>
        </div>
        <!-- segment -->
        <div class="large-3 medium-6 small-6 cell spacer x-large">
          <a>
            <div class="img-wrap clientLogo">
              <img loading="lazy" alt="client 2" src="{{ 'modules/website/images/home/logo-2@2x.png' | asset_url }} ">
            </div>
          </a>
        </div>
        <!-- segment -->
        <div class="large-3 medium-6 small-6 cell spacer x-large">
          <a>
            <div class="img-wrap clientLogo">
              <img loading="lazy" alt="client 3" src="{{ 'modules/website/images/home/logo-3@2x.png' | asset_url }} ">
            </div>
          </a>
        </div>
        <!-- segment -->
        <div class="large-3 medium-6 small-6 cell spacer x-large">
          <a>
            <div class="img-wrap clientLogo">
              <img loading="lazy" alt="client 4" src="{{ 'modules/website/images/home/logo-4@2x.png' | asset_url }} ">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="spacer section"></div>


<!-- STATIC: CARD SECTION -->
<section class="card-section">
  <div class="blocks-sc-3col-07 wrapper bg-color-ui-01" >
    <div class="grid-container custGridContainer">
      <div class="spacer x-large"></div>
        <div class="grid-x gutter-medium grid-padding-x">
          <!-- segment -->
          <div class="large-4 medium-12 small-12 cell spacer x-large">
            <!-- <div class="spacer x-large"></div> -->
            <h2>Login or Register</h2>
            <div class="spacer"></div>
            <div class="description">
              <p class="subHeading">Registering an account with Insites. This is website template is for you to make your own. Tweak it or break it, it's totally up to you.</p>
            </div>
          </div>
          <!-- /segment -->

          <!-- segment -->
          <div class="large-5 medium-12 small-12 cell ">
            <div class="description">
              <ul style="list-style-type: none; padding: 0px; margin-left: 0px">
                <li>
                  <p class="subHeading"><i class="icon-check"></i> Upload files through your account</p>
                  <div class="spacer small"></div>
                </li>
                <li>
                  <p class="subHeading"><i class="icon-check"></i> Organize your personal and business information</p>
                  <div class="spacer small"></div>
                </li>
                <li>
                  <p class="subHeading"><i class="icon-check"></i> Full 256-bit industry standard security</p>
                  <div class="spacer small"></div>
                </li>
                <li>
                  <p class="subHeading"><i class="icon-check"></i> Digitally complete our questionnaires</p>
                  <div class="spacer small"></div>
                </li>
                <li>
                  <p class="subHeading"><i class="icon-check"></i> Save and return to your forms later</p>
                  <div class="spacer small"></div>
                </li>
                <li>
                  <p class="subHeading"><i class="icon-check"></i> Spend less time annually filling out forms</p>
                  <div class="spacer small"></div>
                </li>
              </ul>
            </div>
          </div>
          <!-- /segment -->
          <!-- segment -->
          <div class="large-3 medium-12 small-12 cell">
            <div class="spacer xxx-large hide-for-large"></div>
            <!-- <div class="spacer x-large"></div> -->
            <div class="insites-form-grid">	
              <div class="large-12 medium-12 small-12 cell text-center">
                <a href="/register">
                  <ins-button id=""  class="full" label="REGISTER ACCOUNT" solid color="white" type="submit" size="x-large" data-test=""></ins-button>
                </a>
                <div class="spacer x-large"></div>
                <hr>
                <div class="spacer x-large"></div>
                <p class="subHeading-2">Already a member?</p>
                <div class="spacer"></div>
                <a href="/sign-in">            
                  <ins-button class="full btnBlack" id="" label="LOGIN HERE" solid type="submit" size="x-large" data-test=""></ins-button>
                </a>
              </div>
            </div>
        
          </div>
          <!-- /segment -->

          
        </div>
        <div class="spacer x-large"></div>
    </div>
  </div>
</section>

<div class="spacer section"></div>

