<div class="hero-home-banner" style="background-image: url('{{ 'modules/website/images/home/hero-bg.webp' | asset_url  }}'); background-size:cover;">
    <div class="wrapper">
        <div class="spacer section"></div>
        <div class="grid-container grid-x align-middle">
            <div class="large-8 medium-6 small-12 cell">
                <h1 class="hero-main-text">The ideal portal for <br> your <span id="banner-dynamic-word">clients</span></h1>
            </div>
            <div class="large-4 medium-6 small-12 cell">
                <div class="hero-text-container">
                    <div class="hero-text">
                        <p>A unified portal will help you to professionally manage your projects (and to wow your clients).</p>
                        <div class="spacer medium"></div>
                        <a href="">Explore features <i class="icon-arrow-forward"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="hero-banner-img">
    <div class="wrapper">
        <div class="grid-container grid-x align-middle">
        <img src="{{ 'modules/website/images/home/hero-banner-d.webp' | asset_url  }}" alt="">
        </div>
    </div>
</div>

<style>
#banner-dynamic-word {
  display: inline-block;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.5s linear;
  background: linear-gradient(135deg, #88FF6C 0%, #3F93FF 96.83%);
  -webkit-background-clip: text; /* For Safari */
  background-clip: text; /* For modern browsers */
  color: transparent; /* Make the text color transparent so the gradient shows */
}

.hero-text-container {
  margin-top: 20px;
  font-size: 18px;
}

/* Rollup Animation */
@keyframes rollup {
  0% {
    transform: translateY(0); /* Start in original position */
    opacity: 1;
  }
  100% {
    transform: translateY(-20px); /* Move up */
    opacity: 0; /* Fade out */
  }
}
</style>

<script>
const words = ['members', 'users', 'customers', 'clients'];
const wordElement = document.getElementById('banner-dynamic-word');

let index = 0;

function changeWord() {
  setInterval(() => {
    wordElement.style.animation = 'rollup .3s linear forwards';

    setTimeout(() => {
      wordElement.textContent = words[index];
      index = (index + 1) % words.length; 

     
      wordElement.style.animation = ''; 
    }, 300); 
  }, 2000); 
}

changeWord();

</script>