{%- graphql get_portal_benefits = 'modules/website/home/unlock_efficiency/get_portal_benefits' -%}
{%- assign portal_benefits =  get_portal_benefits | dig: 'items', 'results'  -%}


<div class="unlock-efficiency-section">
    <div class="spacer section"></div>
    <div class="wrapper">
        <div class="grid-container grid-x">
            <div class="large-6 medium-6 small-12 cell">
                <h2>Unlock efficiency, security & seamless collaboration</h2>
                <div class="spacer medium"></div>
                <p class="p-dark p-long-desc">The benefits of a portal are numerous. They can help streamline communication between companies and clients and make it easier for both parties to access the information they need.</p>
                <div class="spacer xxxx-large"></div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="grid-container grid-x grid-padding-x grid-padding-y">
            {% for data in portal_benefits %}
                <div class="large-3 medium-6 small-12 cell">
                    <a href="">
                        <div class="portal-benefits-cards">
                            <img src="{{ data.icon.url }}" alt="">
                            <h6>{{ data.benefit_title }}</h6>
                            <p>{{ data.benefit_description }}</p>
                            <i class="icon-arrow-right"></i>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="spacer section"></div>
</div>  