---
metadata: {
    partial_name: 'Portal | Account | Registration steps'
}
---

{%- liquid

    if context.flash.notice != blank
        assign statusPersonal = "complete"
        assign statusCompany = "complete"
        assign statusConfirmation = "complete"
        assign statusVerify = "complete"
    endif

-%}

<div class="form-groups-tab step-scrollbar">        
    <ins-steps inline id="register-stepper">
        <ins-step id="stepper-personal-details" description="Personal" {{statusPersonal}} ></ins-step>
        <ins-step id="stepper-company-details" description="Company" {{statusCompany}} ></ins-step>
        <ins-step id="stepper-confirmation" description="Terms" {{statusConfirmation}} ></ins-step>
        {% comment %} <ins-step description="Verify" {{statusVerify}} ></ins-step> {% endcomment %}
    </ins-steps>
</div>