
{%- comment -%}
    Products & Services - Details page (tab layout)

    This block of codes for inner pages, using 'ins-tab'
    to manage content display.
{%- endcomment -%}

<!-- Products details page tab view -->
<div class="grid-x ">
    <div class="large-12 medium-12 small-12 cell">
        <ins-tab>
        {%- for block in (1..6) -%}
            {%- assign heading = 'sub_heading_' | append: forloop.index -%}
            {%- assign content = 'content_block_' | append: forloop.index -%}
            {%- if data.properties[heading] != '' and data.properties[heading] != nil -%}
                <ins-tab-item 
                    label="{{ data.properties[heading] }}">
                    <div>
                        {{ data.properties[content] | html_safe }}
                    </div>
                </ins-tab-item>
            {%- endif -%}
        {%- endfor -%}
        </ins-tab>
    </div>
</div>