---
name: forgot_password
resource: modules/client/reset_password
resource_owner: anyone
redirect_to: /forgot-password
flash_notice: If you provided the right email, we will send you reset password instructions.
fields:
  properties:
    email:
      validation:
        presence: true
        email: true
callback_actions: |-
  {% graphql g = 'modules/ecommerce/account/generate_user_temporary_token', email: form.properties.email %}
  {% if g.items.results[0] %}
    {% graphql res = 'modules/ecommerce/account/update_password_token', id: g.items.results[0].id, token: g.items.results[0].temporary_token %}
  {% endif %}
---


{%- form 
  html-id: "password-recover-form"
  html-novalidate: true
  html-enctype="multipart/form-data"
  html-onsubmit:"return LoginScript.methods.validateForm(event);" -%}

<div class="grid-x grid-padding-x">
    <div class="small-12 cell">
      <ins-input validate
        id="email"
        label="Email"
        field="email"
        name="{{ form.fields.properties.email.name }}" 
        value="{{ form.fields.properties.email.value }}" 
        {% if form.errors['properties.email'] %} has-error {% endif %}
        error-message="{{ form.fields.properties.email.validation.rules.presence.message }}"
        placeholder="Email">
      </ins-input>
    </div>
    <div class="small-12 cell spacer small"></div>
    <div class="small-12 cell text-center">
      <ins-button id="submit-btn" class="full" label="SUBMIT" solid color="blue" type="submit" ></ins-button>
    </div>
    <div class="small-12 cell spacer x-large"></div>
    <div class="small-12 cell text-center"> 
      Back to <a href="/sign-in">sign in</a>
    </div>
  </div>
    

{%- endform -%}