---
name: my_company_details
resource: User
resource_owner: anyone
flash_alert: Sorry-Signup
flash_notice: Congratulations-Signup
redirect_to: my-company-details
fields:
  # User Fields

  # CRM Company Fields 
  company_id:
    validation: 
      presence: true
    property_options:
      virtual: true
  email_1:
    validation: 
      presence: true
      email: 
        message: Please use a valid email address 
    property_options:
      virtual: true     
  company_name:
    validation: 
      presence: true
    property_options:
      virtual: true
  registered_business_number:
    validation: 
      presence: true
    property_options:
      virtual: true           
  company_mobile_phone_country_code:
    property_options:
      virtual: true
  company_mobile_phone_number:
    property_options:
      virtual: true
  address_1:
    property_options:
      virtual: true
  address_2:
    property_options:
      virtual: true
  suburb:
    property_options:
      virtual: true
  state:
    property_options:
      virtual: true
  postcode:
    property_options:
      virtual: true
  country:
    property_options:
      virtual: true

default_payload: |-
  {
    "properties_attributes": {
      "company_id": "{{ data.id }}"
    }
  }      

api_call_notifications:
  - modules/client/update_company
---

{% comment %} 
  Get CRM -> Contact from v5 API
{% endcomment %}
{% comment %} {% parse_json data %} 
{
  "id": "{{company_uuid}}"
}
{% endparse_json %}

{% liquid

    graphql company = 'modules/website/api/send_api_call', template: 'modules/client/get_company', data: data 

    assign response = company.api_call_send.response.body | parse_json
    assign prop = response.items.results[0].contact[0].properties    
%} {% endcomment %}

{%- form 
    html-id: "user-company-form"
    html-class: 'insites-form insites-form-code' 
    html-novalidate: true
    html-enctype="multipart/form-data"
    html-onsubmit:"return UserProfileScript.methods.validateForm(event);" -%}

  <div class="insites-form-grid">
    {% include 'modules/client/account/registration_company_details', data: data %}
  </div>

{%- endform -%}