---
name: my_company_details
resource: modules/insites_core/crm_company
resource_owner: anyone
flash_alert: Error-Company-Details
flash_notice: Success-Company-Details
redirect_to: my-company-details
fields:  
  properties:
    email_1:
      validation: 
        presence: true
        email: 
          message: Please use a valid email address     
    company_name:
      validation: 
        presence: true
    registered_business_number:
      validation: 
        presence: true          
    mobile_phone_number:
    mobile_phone_country_code:
    company_mobile_phone_number:
      property_options:
        virtual: true
    company_address_1:
      property_options:
        virtual: true
    company_address_2:
      property_options:
        virtual: true
    company_suburb:
      property_options:
        virtual: true
    company_state:
      property_options:
        virtual: true
    company_postcode:
      property_options:
        virtual: true
    company_country:
      property_options:
        virtual: true    

    #Company Address
    company_uuid:
      property_options:
        virtual: true
    company_address_uuid:
      property_options:
        virtual: true
callback_actions: |-
  {% comment %} 
    The form itself will update the CRM_Company only
    Update the company address using API
      If company already exist
        - API for update_company_address
      Else
        - API for add_company (this will update the address also)
  {% endcomment %}
  {%  liquid                  
      assign data = form | json

      if form.properties.company_uuid != '' and form.properties.company_uuid != null
        graphql update_company_address = 'modules/website/trigger_api_call', name: 'modules/client/update_company_address', data: data | dig: 'items','response','body' | parse_json
        graphql set_company_uuid = 'modules/client/account/set_company_uuid', id: context.current_user.id, company_uuid: form.properties.company_uuid        
      else
        graphql add_company = 'modules/website/trigger_api_call', name: 'modules/client/add_company', data: data | dig: 'items','response','body' | parse_json
        graphql set_company_uuid = 'modules/client/account/set_company_uuid', id: context.current_user.id, company_uuid: add_company.items.properties.uuid
      endif          
  %}   
---

{%- form 
    html-id: "my-company-details-form"
    html-class: 'insites-form insites-form-code' 
    html-novalidate: true
    html-onsubmit:"return validateMyCompanyDetails(event);" -%}

    <input type="hidden" name="{{ form.fields.properties.company_uuid.name }}"  value="{{ data.properties.uuid }}" >
    <input type="hidden" name="{{ form.fields.properties.company_address_uuid.name }}" value="{{ data.default_address.properties.uuid }}" >

    <div class="insites-form-grid">
      {% include 'modules/client/account/registration_company_details', data: data %}
    </div>

{%- endform -%}