---
name: my_details
resource: User
resource_owner: anyone
flash_alert: Sorry-Signup
flash_notice: Congratulations-Signup
redirect_to: my-details
fields:
  # User Fields
  email:
    validation: 
      unique:
        message: Email already exist
      presence:
        message: Please use a valid email address
      email: 
        message: Please use a valid email address      
  first_name:
    validation: 
      presence: 
        message: First name is required
  last_name:
    validation: 
      presence: 
        message: Last name is required
  
  # CRM Contact Fields        
  mobile_phone_country_code:
    property_options:
      virtual: true
  mobile_phone_number:
    property_options:
      virtual: true
  address_1:
    property_options:
      virtual: true
  address_2:
    property_options:
      virtual: true
  suburb:
    property_options:
      virtual: true
  state:
    property_options:
      virtual: true
  postcode:
    property_options:
      virtual: true
  country:
    property_options:
      virtual: true

api_call_notifications:
  - modules/client/update_contacts
---

{% comment %} 
  Get CRM -> Contact from v5 API
{% endcomment %}
{% parse_json data %} 
{
  "id": "{{external_id}}"
}
{% endparse_json %}

{% liquid

    graphql contact = 'modules/client/api/send_api_call', template: 'modules/client/get_contact', data: data 

    assign response = contact.api_call_send.response.body | parse_json
    assign prop = response.items.results[0].contact[0].properties    
%}


{%- form 
    html-id: "user-profile-form"
    html-class: 'insites-form insites-form-code' 
    html-novalidate: true
    html-enctype="multipart/form-data"
    html-onsubmit:"return UserProfileScript.methods.validateForm(event);" -%}

  <div class="insites-form-grid">

  {% include 'modules/client/account/registration_personal_details', prop %}
            
  </div>

{%- endform -%}