---
name: resend_verification
resource: User
resource_owner: anyone
redirect_to: |-
    {% if params.slug == 'payment-methods' %}
        /payment-methods
    {%  elsif params.slug == 'pay-bills' %}
        /pay-bills
    {% else %}
        /my-details
    {% endif %}   
fields:
    email:
        validation: 
            presence:
                message: Please use a valid email address
            email: 
                message: Please use a valid email address

flash_notice: Success-EmailVerification
flash_alert: Error-EmailVerification

callback_actions: |-
    {% graphql g = 'modules/client/account/generate_user_temporary_token', email: form.email %}
    {% if g.items.results[0] %}
      {% graphql res = 'modules/client/account/set_email_verification_token', id: g.items.results[0].id, token: g.items.results[0].temporary_token %}
    {% endif %}
---
<ins-card class="empty-state" steady>
    {% if params.slug == 'payment-methods' or params.slug == 'pay-bills' %}
        <p>To view/modify your Credit Cards please verify your account.
            <br>
            Please check your email or resend a verification email.</p>   
    {% else %}
        <p class="font-body-large">You haven't yet verified your account. Please check your email or resend a verification email.</p>  
    {% endif %}
    <div class="spacer small"></div>
    {% form %}
        <input type="hidden" 
            name="{{- form.fields.email.name -}}"
            value="{{- context.current_user.email -}}">
        <ins-button label="Resend" type="submit" solid></ins-button>
    {% endform %}
</ins-card>

{%- if context.flash and context.flash.notice == "Success-EmailVerification" -%}
    <script>
        setTimeout(() => {
            App.events.notyf("success", 
                "A verification email has been sent to your email address.");
        }, 200)
    </script>
{% endif -%}

{%- if context.flash and context.flash.alert == "Error-EmailVerification" -%}
    <script>
        setTimeout(() => {
            App.events.notyf("error", 
                "Failed to send email verification. Please try again.");
        }, 200)
    </script>
{% endif -%}