<section class="section-1">
    <div class="blocks-sc-2col-08 wrapper bg-color-ui-01">
    <div class="spacer xxxx-large"></div>
    <div class="grid-container">
        <div class="grid-x gutter grid-padding-x gutter-medium">
            <div class="large-3 medium-3 small-12 cell">
                <ul class="side-links">
                    <li>
                        <a href="/faq-details">FAQ Overview</a>
                        <div class="spacer small"></div>
                    </li>
                    <li>
                        <a>Why use a client portal?</a>
                        <div class="spacer small"></div>
                    </li>
                    <li>
                        <a>How to use client portal?</a>
                        <div class="spacer small"></div>
                    </li>
                    <li>
                        <a>Importing and exporting portals</a>
                        <div class="spacer small"></div>
                    </li>
                    <li>
                        <a>Help, I think I am in trouble!</a>
                        <div class="spacer small"></div>
                    </li>
                </ul>
            </div>
            <div class="spacer xxx-large small-12 cell show-for-small-only"></div>
            <div class="large-9 medium-9 small-12 cell">
                <h1>Why use a client portal?</h1>
                <div class="spacer"></div>
                <p class="spacer">A client portal is an online system that allows clients to securely access information from a company. It is generally used to provide clients with access to their data, such as invoices or contracts, as well as any resources or support materials the company may have.</p>

                    <div class="blocks-sc-2col-07 wrapper bg-color-ui-01">
                        <div class="grid-container">
                            <div class="grid-x grid-padding-x gutter-medium">
                                <div class="large-12 medium-12 small-12 cell">
                                    <div class="faqs-holder">
                                        <ins-accordion>
                                            <ins-accordion-item 
                                                heading="How do I track my order status?" 
                                                open-icon="icon-plus" 
                                                close-icon="icon-minus" 
                                                active>              
                                                This accordion is nested and it holds 2 more accordion inside.              
                                                <ins-accordion>          
                                                    <ins-accordion-item 
                                                        heading="Open Book">                  
                                                        This accordion is nested inside an accordion element.                  
                                                    </ins-accordion-item>          
                                                    <ins-accordion-item 
                                                        heading="Closed Book">                  
                                                        This accordion is also nested inside an accordion element.                  
                                                    </ins-accordion-item>          
                                                </ins-accordion>          
                                            </ins-accordion-item>          
                                            <ins-accordion-item
                                                open-icon="icon-plus" 
                                                close-icon="icon-minus"  
                                                heading="How do I return defective or flawed items?">          
                                                This is just a single accordion element.          
                                            </ins-accordion-item>          
                                            <ins-accordion-item 
                                                open-icon="icon-plus" 
                                                close-icon="icon-minus" 
                                                heading="Can I exchange my order?">
                                                <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
                                                <div class="spacer small"></div>
                                                <hr>
                                                <div class="spacer small"></div>
                                                <div class="grid-x align-justify">
                                                    <div class="medium-shrink small-12 cell">
                                                        Packaging Guide.pdf
                                                    </div>
                                                    <div class="spacer small cell hide-for-medium"></div>
                                                    <div class="medium-shrink small-12 cell">
                                                        <ins-button 
                                                            icon="icon-download" 
                                                            label="Download" 
                                                            solid 
                                                            color="blue" 
                                                            size="small">
                                                        </ins-button>
                                                    </div>
                                                </div>
                                            </ins-accordion-item>          
                                        </ins-accordion>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="spacer xxxx-large"></div>
</div>

</section>