<section class="section-1">
    <div class="blocks-sc-2col-08 wrapper bg-color-ui-01">
    <div class="spacer xxxx-large"></div>
    <div class="grid-container">
        <div class="grid-x gutter grid-padding-x gutter-medium">
            <div class="large-3 medium-3 small-12 cell">
                <ul class="side-links">
                    <li>
                        <a href="/faq-details">FAQ Overview</a>
                        <div class="spacer small"></div>
                    </li>
                    <li>
                        <a>Why use a client portal?</a>
                        <div class="spacer small"></div>
                    </li>
                    <li>
                        <a>How to use client portal?</a>
                        <div class="spacer small"></div>
                    </li>
                    <li>
                        <a>Importing and exporting portals</a>
                        <div class="spacer small"></div>
                    </li>
                    <li>
                        <a>Help, I think I am in trouble!</a>
                        <div class="spacer small"></div>
                    </li>
                </ul>
            </div>
            <div class="spacer xxx-large small-12 cell show-for-small-only"></div>
            <div class="large-9 medium-9 small-12 cell">
                <h1>FAQ Overview</h1>
                <div class="spacer large"></div>
                <div class="articles-container">
                    <div class="custom-article-item">
                        <div>
                            <a>
                                <h3>Why use a client portal?</h3>
                            </a>
                        </div>
                        <div class="spacer x-small"></div>
                        <div class="custom-publish-info">LEARN MORE >></div>
                    </div>
                    <div class="spacer"></div>
                    <div class="custom-article-item">
                        <div>
                            <a>
                                <h3>How to use client portal?</h3>
                            </a>
                        </div>
                        <div class="spacer x-small"></div>
                        <div class="custom-publish-info">LEARN MORE >></div>
                    </div>
                    <div class="spacer"></div>
                    <div class="custom-article-item">
                        <div>
                            <a>
                                <h3>Importing and exporting portals</h3>
                            </a>
                        </div>
                        <div class="spacer x-small"></div>
                        <div class="custom-publish-info">LEARN MORE >></div>
                    </div>
                    <div class="spacer"></div>
                    <div class="custom-article-item">
                        <div>
                            <a>
                                <h3>Help, I think I am in trouble!</h3>
                            </a>
                        </div>
                        <div class="spacer x-small"></div>
                        <div class="custom-publish-info">LEARN MORE >></div>
                    </div>
                </div>
                <div class="spacer xxxx-large"></div>
                <h1>Policies</h1>
                <div class="spacer large"></div>
                <div class="articles-container">
                    <div class="custom-article-item">
                        <div>
                            <a href="/privacy-policy">
                                <h3>Privacy Policy</h3>
                            </a>
                        </div>
                        <div class="spacer x-small"></div>
                        <div class="custom-publish-info">LEARN MORE >></div>
                    </div>
                    <div class="spacer"></div>
                    <div class="custom-article-item">
                        <div>
                            <a href="/terms-and-conditions">
                                <h3>Terms & Conditions</h3>
                            </a>
                        </div>
                        <div class="spacer x-small"></div>
                        <div class="custom-publish-info">LEARN MORE >></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer xxxx-large"></div>
</div>

</section>