---
metadata: {
    partial_name: 'Portal | Layouts | Sidebar'
}
---

{% comment %} ? GET USER DETAILS {% endcomment %}
{% function user_details = "modules/portal/users/user_details" %}

<div class="accordion-section-holder hide-for-small-only">
    <div class="portal-sidebar">                            
        <ins-accordion-link label="Overview" link="/overview" link-target="_self" {%if params.slug == 'overview'-%}active{%- endif-%} ></ins-accordion-link>
        <ins-accordion-link label="My details" link="/my-details" link-target="_self" {%if params.slug == 'my-details'-%}active{%- endif-%}></ins-accordion-link>
        <ins-accordion-link label="My company details" link="/my-company-details" link-target="_self" {%if params.slug == 'my-company-details'-%}active{%- endif-%}></ins-accordion-link>
        <ins-accordion-link label="Feedback" link="/feedback" link-target="_self" {%if params.slug == 'feedback'-%}active{%- endif-%}></ins-accordion-link>
        <ins-accordion-link label="Payment methods" link="/payment-methods" link-target="_self" {%if params.slug == 'payment-methods'-%}active{%- endif-%}></ins-accordion-link>
        <ins-accordion-link label="Pay a bill" link="/pay-bills" link-target="_self" {%if params.slug == 'pay-bills'-%}active{%- endif-%}></ins-accordion-link>
        {% if user_details.is_primary_account_holder != false %}
            <ins-accordion-link label="Users" link="/users" link-target="_self" {%if params.slug == 'users'-%}active{%- endif-%}></ins-accordion-link>
        {% endif %}
        </div>
</div>

<div class="show-for-small-only">
        
    {% assign navigation_link = "/" | append: context.params.slug %}
    {% if context.params.slug == "overview" %}
        {% assign navigation_label = "Overview" %}
    {% elsif context.params.slug == "my-details" %}
        {% assign navigation_label = "My details"%}      
    {% elsif context.params.slug == "my-company-details" %}
        {% assign navigation_label = "My company details"%}
    {% elsif context.params.slug == "feedback" %}
        {% assign navigation_label = "Feedback"%}
    {% elsif context.params.slug == "payment-methods" %}
        {% assign navigation_label = "Payment methods"%}   
    {% elsif context.params.slug == "pay-bills" %}
        {% assign navigation_label = "Pay a bill"%}
    {% elsif context.params.slug == "users" %}
        {% assign navigation_label = "Users"%}   
    {% endif %}

    <div class="portal-mobile-nav">
        <ins-accordion-item class="" heading="{{ navigation_label }}" link="{{ navigation_link }}" open-icon="icon-caret-down" close-icon="icon-caret-up" link-target="_self">
            <ins-accordion-link class="{% if navigation_label == "Overview" %} is_hidden {% endif %}" label="Overview" link="/overview" link-target="_self"></ins-accordion-link>
            <ins-accordion-link class="{% if navigation_label == "My details" %} is_hidden {% endif %}" label="My Details" link="/my-details" link-target="_self"></ins-accordion-link>
            <ins-accordion-link class="{% if navigation_label == "My company details" %} is_hidden {% endif %}" label="My Company Details" link="/my-company-details" link-target="_self"></ins-accordion-link>
            <ins-accordion-link class="{% if navigation_label == "Feedback" %} is_hidden {% endif %}" label="Feedback" link="/feedback" link-target="_self"></ins-accordion-link>
            <ins-accordion-link class="{% if navigation_label == "Payment methods" %} is_hidden {% endif %}" label="Payment methods" link="/payment-methods" link-target="_self"></ins-accordion-link>
            <ins-accordion-link class="{% if navigation_label == "Pay a bill" %} is_hidden {% endif %}" label="Pay a bill" link="/pay-bills" link-target="_self"></ins-accordion-link>
            {% if user_details.is_primary_account_holder != false %}
                <ins-accordion-link class="{% if navigation_label == "Users" %} is_hidden {% endif %}" label="Users" link="/users" link-target="_self"></ins-accordion-link>
            {% endif %}
        </ins-accordion-item>
    </div>
</div>