---
metadata: {
    partial_name: 'Client | Overview | Incomplete forms'
}
---

{%- comment -%} Pagination and Filters {%- endcomment -%}
{%  liquid            
    assign page_num = context.params.page | default: 1 | plus: 0
    assign per_page = context.params.per_page | default: 6 | plus: 0
%}


{%- if context.environment == "staging" -%}
<!-- start page: overview  -->
{%- endif -%} 

{%- graphql data = "modules/client/questionnaires/get_questionnaires_overview", user_id: context.current_user.id, not_agreement: "I understand and agree", size: 6 | dig: "items","results" -%}
<div class="questionnaire">
{%- if data.size > 0 -%}
  <h2 class="heading-2">Incomplete Forms</h2>
  <div class="spacer"></div>
  <div class="grid-container client-card">
    <div class="grid-x grid-padding-x grid-padding-y">

    
    {%- for item in data -%}
      <div class="large-4 medium-6 small-12 cell align-stretch">
          {%- include "modules/client/questionnaires/list_card", showName: true, item -%}
      </div>
    {%- endfor -%}

    {%- if data.size > 6 -%}
      <ins-table no-wrap
      static-table
      id="insBaseTable"
      without-search>    
      </ins-table>
    {%- endif -%}  

    </div>
  </div>
  
{%- else -%}  
  <h2 class="heading-2">Incomplete Forms</h2>
  <div class="spacer"></div>
  <div class="box text-center">
    <div class="spacer xxx-large"></div>
    <h4 class="heading-4">No incomplete forms</h4>
    <div class="spacer xxx-large"></div>
  </div>
{%- endif -%}
</div>


{%- if context.environment == "staging" -%}
<!-- end page: overview  -->
{%- endif -%}

{%- if data.size > 6 -%}
<script>
      // Pagination

      var insBaseTable = document.getElementById('insBaseTable');

      insBaseTable.pageSizeOptions = [6,15,30];
      insBaseTable.totalCount = {{ data.size }};
      insBaseTable.pageNumber = {{page_num}};
      insBaseTable.pageSize = {{per_page}};

      if(insBaseTable){
          setTimeout(() => {
              insBaseTable.querySelector(".ibt-table-wrap__pagination>span").innerHTML='Items per page';
          },600);            
      }

      insBaseTable.addEventListener('insPaginationChange', tablePaginationHandler);

      function processTableData(){

          // Get the current URL
          const currentUrl = window.location.href;

          // Remove any existing `page` and `per_page` query parameters
          const newUrl = currentUrl.replace(/[?&]page=\d+/, '').replace(/[?&]per_page=\d+/, '');

          // Set the new `page` and `per_page` values
          const newPage = pageNumber;
          const newPerPage = pageSize;

          // Append the new `page` and `per_page` query parameters to the URL
          const updatedUrl = `${newUrl}?page=${newPage}&per_page=${newPerPage}`;

          // Navigate to the updated URL
          window.location.href = updatedUrl;
      }

      function tablePaginationHandler(event){
          pageSize = event.detail.pageSize;
          pageNumber = event.detail.pageNumber;
          processTableData()
      }
</script>
{%- endif -%}