<div id="payment-details">
    <div class="grid-x grid-padding-x">
        <div class="large-6 medium-6 small-12 cell">
            <h2 class="heading-2">Credit Card</h2>
        </div>
        <div class="large-6 medium-6 small-12 cell text-right">
            <div class="spacer x-small"></div>
            <ins-button type="button"
                id="add-card-btn"
                size="small"
                icon="icon-plus"
                label="Add Card">
            </ins-button>
        </div>
    </div>
    <div class="spacer xx-large"></div>

    {% comment %} Credit Cards {% endcomment %}
    <div class="validate-credit-card">        
        <div class="empty-box">
            <p>Add Credit Card / Debit Card</p>
        </div>
    </div>
    <div class="spacer xxx-large"></div>



    {%- comment -%}Payment Summary{%- endcomment -%}
    <div class="payment-summary">
        <h2 class="heading-2">Payment Summary</h2>
        <div class="spacer x-lage"></div>
        <div class="grid-x">
            <div class="large-9 col1">Bill Amount</div>
            <div class="large-3 col2">$150.00</div>
            <div class="cell spacer x-small"></div>
            <div class="large-9 col1">Processing Fee (1.7%)</div>
            <div class="large-3 col2">$5.00</div>
            <div class="cell spacer"></div>
            <hr>
            <div class="cell spacer small"></div>
            <div class="large-9 col1">Sub Total</div>
            <div class="large-3 col2">$155.00</div>
            <div class="cell spacer x-small"></div>
            <div class="large-9 col1">Tax</div>
            <div class="large-3 col2">$1.00</div>
            <div class="cell spacer small"></div>
            <hr>
            <div class="cell spacer small"></div>
            <div class="large-7 col1"><h3 class="heading-3">Total</h3></div>
            <div class="large-5 col2"><h3 class="heading-3">$156.00</h3></div>        
        </div>
    </div>
    <div class="spacer x-large"></div>

    <div class="insites-form-grid">
    <div class="insites-form-buttons column-1 text-right">
            <ins-button type="submit" id="submit-btn" label="Pay Bill" icon="icon-check-2" solid></ins-button>
        </div>
    </div>
    <div class="spacer xxxx-large"></div>

</div>