---
name: feedback_workflow
to: >
    {%- include 'modules/portal/emails/workflow_to' -%}
from: > 
  {%- include 'modules/portal/emails/autoresponder_from' -%}
reply_to: > 
  {%- include 'modules/portal/emails/autoresponder_reply_to' -%}
cc:
bcc:
subject: New feedback received
layout: modules/insites_core/insites_internal_email_layout
---
  
  {%- include 'modules/insites_core/email_layout/email_icon' -%}
  
  {% comment %} <!-- Heading --> {% endcomment %}
  <table class="module" role="module" data-type="text" border="0" cellpadding="0"
    cellspacing="0" width="100%" style="table-layout: fixed;"
    data-muid="ae3b5e25-e601-4be7-8e69-e21f7125e6e7" data-mc-module-version="2019-10-22">
    <tbody>
      <tr>
        <td style="padding:0px 24px 24px 24px; line-height:24px; text-align:inherit;"
          height="100%" valign="top" bgcolor="" role="module-content">
          <div>
            <div style="font-family: inherit; text-align: center"><span
                style="font-size: 24px"><strong>New Feedback Received</strong></span></div>
            <div></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  {% comment %} <!-- text --> {% endcomment %}
  <table class="module" role="module" data-type="text" border="0" cellpadding="0"
    cellspacing="0" width="100%" style="table-layout: fixed;"
    data-muid="c91a48dd-cef4-4985-9a78-d3e751a003dc" data-mc-module-version="2019-10-22">
    <tbody>
      <tr>
        <td style="padding:0px 24px 0px 24px; line-height:24px; text-align:inherit;"
          height="100%" valign="top" bgcolor="" role="module-content">
          <div style="font-family: inherit; text-align: center">          
            <p>New message from <b>{{form.properties.full_name}}</b>,</p> 
            <br> 
            <p>
              {{form.properties.message}}              
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>