<div class="carousel-holder">
    <div class="blocks-hero-01 homepage-banner-wrap">
        <ins-carousel no-carousel-button loop layout="1" bind-to="homepage-banner" transition="700" duration="5000"
          data-test="homepage-slider">
          <div id="homepage-banner">
         
      
            <!-- item -->
            <div class="slide-container" style="background-color: #000;">
              <div class="img-wrap">
                <!-- desktop image -->
                <img
                  src="https://insites.imgix.net/bg-dark.jpg"
                  alt="" class="hide-for-small-only" />
                <!-- mobile image -->
                <img src="https://insites.imgix.net/bg-dark.jpg" alt=""
                  class="show-for-small-only" />
              </div>         
              <div class="slide-content wrapper vertical-align-middle">
                <div class="grid-x">
                  <div class="large-12 medium-12 small-12 cell">
                    <h1 class="heading heading-1">The ideal portal for your customers</h1>
                    <div class="spacer"></div>
                    <p>Unified client portal will help you to professionally manage your projects (and to wow your client)</p>
                    <div class="spacer x-large"></div>
                    <a>
                      <ins-button solid label="Learn More">
                      </ins-button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /item -->
      
          </div>
        </ins-carousel>
    </div>
</div>