<section class="section-content-3">
  <div class="blocks-sc-5col-01 wrapper bg-color-ui-01">
  <div class="spacer x-large"></div>
  <div class="grid-container homepage-clients">
    <div class="grid-x grid-padding-x align-middle">
      <!-- 
      <div class="cell small-12 text-center">
        <h2>Clients</h2>
        <div class="spacer"></div>
        <p>Be part of our satisfied clients.</p>
        <div class="spacer xxx-large"></div>
      </div>
      -->
      <div class="cell small-12 text-center">
        <div class="clients-container flex-container">
          <!-- item -->
          <div class="client-item">
            <a>
              <div class="img-wrap">
                <img src="{{ 'modules/website/images/home/client-1.png' | asset_url }} "/>
              </div>
            </a>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="client-item">
            <a>
              <div class="img-wrap">
                <img src="{{ 'modules/website/images/home/client-2.png' | asset_url }} "/>
              </div>
            </a>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="client-item">
            <a>
              <div class="img-wrap">
                <img src="{{ 'modules/website/images/home/client-3.png' | asset_url }} "/>
              </div>
            </a>
          </div>
          <!-- /item -->
          <!-- item -->
          <div class="client-item">
            <a>
              <div class="img-wrap">
                <img src="{{ 'modules/website/images/home/client-4.png' | asset_url }} "/>
              </div>
            </a>
          </div>
          <!-- /item -->

        </div>
      </div>
    </div>
  </div>
  <div class="spacer x-large"></div>
</div>
</section>