<section class="section-content-4">
  <div class="blocks-sc-3col-07 wrapper bg-color-ui-01" >
  <div class="grid-container section-content-4-card">
    <div class="grid-x gutter-medium grid-padding-x" style="padding:60px">
      <!-- segment -->
      <div class="large-4 medium-6 small-12 cell">
        <!-- <div class="spacer x-large"></div> -->
        <h3>Login or Register</h3>
        <div class="spacer"></div>
        <div class="description">
          <p>Registering an account with Insites. This is website template is for you to make your own. Tweak it or break it, it's totally up to you.</p>
        </div>
      </div>
      <!-- /segment -->
      <!-- segment -->
      <div class="large-4 medium-6 small-12 cell">
        <div class="description">
          <ul style="list-style-type: none;">
            <li>
              <p><i class="icon-check"></i> Upload files through your account</p>
              <div class="spacer x-small"></div>
            </li>
            <li>
              <p><i class="icon-check"></i> Organize your personal and business information</p>
              <div class="spacer x-small"></div>
            </li>
            <li>
              <p><i class="icon-check"></i> Full 256-bit industry standard security</p>
              <div class="spacer x-small"></div>
            </li>
            <li>
              <p><i class="icon-check"></i> Digitally complete our questionnaires</p>
              <div class="spacer x-small"></div>
            </li>
            <li>
              <p><i class="icon-check"></i> Save and return to your forms later</p>
              <div class="spacer x-small"></div>
            </li>
            <li>
              <p><i class="icon-check"></i> Spend less time annually filling out forms</p>
              <div class="spacer x-small"></div>
            </li>
          </ul>
        </div>
      </div>
      <!-- /segment -->
      <!-- segment -->
      <div class="large-4 medium-6 small-12 cell">
        <div class="spacer xxx-large hide-for-large"></div>
        <!-- <div class="spacer x-large"></div> -->
        <div class="insites-form-grid">	
          <div class="large-12 medium-12 small-12 cell text-center">
            <ins-button id="blocks-utilities-02-btn" label="REGISTER ACCOUNT" solid color="white" type="submit" size="x-large"
              data-test=""></ins-button>
            <div class="spacer x-large"></div>
            <hr>
            <div class="spacer x-large"></div>
            <div class="spacer x-large"></div>
            <p>Already a member?</p>
            <div class="spacer"></div>
            <ins-button id="blocks-utilities-02-btn" label="LOGIN HERE" solid type="submit" size="x-large"
            data-test=""></ins-button>
          </div>
        </div>
     
      </div>
      <!-- /segment -->

      
    </div>
    <div class="spacer x-large"></div>
  </div>
</div>
</section>