<section class="section-testimonials">
    <div class="blocks-hero-01 homepage-banner-wrap">
        <ins-carousel no-carousel-button loop layout="1" bind-to="homepage-banner" transition="700" duration="5000"
          data-test="homepage-slider">
          <div id="homepage-banner">
         
      
            <!-- item -->
            <div class="slide-container" style="background-color: #000;">
              <div class="img-wrap">
              </div>         
              <div class="slide-content wrapper vertical-align-middle">
                <div class="grid-x">
                  <div class="large-12 medium-12 small-12 cell">
                    <H5>TESTIMONIALS</H5>
                    <div class="spacer"></div>
                    <h1 class="heading heading-1 test_testimonials">I have  spent eight years working with Mr. Kirks. He has consistently been a professional. He provides rapid, detailed, and efficient responses to queries. Strongly Suggest Insites!</h1>
                    <div class="spacer"></div>
                    <h5>Will Stephen</h5>
                    <div class="spacer"></div>
                    <h6>Australia</h6>
              
                  </div>
                </div>
              </div>
            </div>
            <!-- /item -->
      
          </div>
        </ins-carousel>
    </div>
</section>