{%- graphql get_testimonial = 'modules/website/content/get_testimonial' -%}
{%- assign res_testimonial = get_testimonial | dig: 'items', 'results' -%}

<section class="section-testimonials">
    <div class="blocks-hero-01 homepage-banner-wrap">
        <ins-carousel no-carousel-button loop layout="1" bind-to="homepage-banner" transition="700" duration="5000"
          data-test="homepage-slider">
          <div id="homepage-banner">
            {% for item in res_testimonial %}
            <!-- item -->
            <div class="slide-container" style="background-color: #000;">
              <div class="img-wrap">
              </div>
  
              <div class="slide-content wrapper vertical-align-middle">
                <div class="grid-x">
                  <div class="large-12 medium-12 small-12 cell">
                    <h1 class="colorWhite testiLabel">TESTIMONIALS</h1>
                    <div class="spacer"></div>
                    <h1 class="colorWhite testiMessage">{{  item.message  }}</h1>
                    <div class="spacer"></div>
                    <h1 class="colorWhite testiName">{{ item.full_name }}</h1>
                    <div class="spacer x-small"></div>
                    <h1 class="colorWhite testiLoc"> {{ item.location }}</h1>
                  </div>
                </div>
              </div>
            </div>
            <!-- /item -->
          {% endfor %}
          </div>
        </ins-carousel>
    </div>
</section>