---
metadata: {
    partial_name: 'Portal | Users | Filters'
}
---
<div class="users-filter-row">
    <div class="users-search">
        <ins-input
            id="search-description"
            placeholder="Search users"
            icon-event
            icon="icon-search-1"
            value="{{ search_user }}">
        </ins-input>
    </div>
    <div class="users-invite">
        <ins-button
            id="user-invite-button"
            type="button"
            label="Invite user"
            solid
            icon="icon-plus">
        </ins-button>
    </div>
</div>
