
<div class="thank-you">
        <div class="grid-x grid-padding-x text-center">
            <div class="large-12 medium-12 small-12 cell">

                <div class="thank-you-img spacer">
                    <i class="icon-number-of-checks"></i>
                </div>

                <h1 class="heading-1">{{ messageInfo.title }}</h1>
                <div class="spacer"></div>
                <div>{{ messageInfo.message | html_safe }}</div>

            </div>
        </div>
</div>
