---
slug: client-portal/questionnaires-confirmation
layout: modules/client/form_layout
# enable_profiler: true
searchable: false
max_deep_level: 3
metadata: {
    "status": "published",
    "page_type": "content", ## content, system or endpoint
    "og:url": "",
    "og:type": "",
    "og:image": "",
    "og:title": "Questionnaires - Confirmation | Insites",
    "og:description": "Questionnaires - Confirmation | Insites",
    "og:site_name": "",
    "meta_title": "Questionnaires - Confirmation | Insites",
    "page_title": "Questionnaires - Confirmation | Insites",
    "meta_description": "Questionnaires - Confirmation | Insites",
    "canonical_url": "",
    "search_engine_visibility": true,
    "sitemap_enabled": true,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "1", ## secondary order (ASC)
    "sitemap_changefreq": "monthly"
}
authorization_policies:
  - modules/client/questionnaires_form_auth
---
{%- if context.environment == "staging" -%}
<!-- start page: overview  -->
{%- endif -%}

<div class="questionnaire">
    {%- include_form 'modules/client/questionnaires_confirmation', id: context.params.slug3 -%}
</div>

{%- if context.environment == "staging" -%}
<!-- end page: overview  -->
{%- endif -%}