<div class="large-9 medium-9 small-12 cell">
  <div class="spacer xxxx-large"></div>  
  <div class="grid-container">
    <h1>FAQ Overview</h1>
    <div class="spacer"></div>
    <!-- MAIN VIEW -->
    {% for item in res_faq %}

    <div class="articles-container">
      <div class="custom-article-item">
        <div>
          <h3>{{ item.question }}</h3>  
        </div>
        <div class="spacer"></div>
        <div class="custom-publish-info font-x-small "><a href="/faqs/{{ item.slug }}">LEARN MORE <i class="icon-angle-right"></i></a></div>
      </div>
    </div> 
    <div class="spacer"></div>
    {% endfor %}
  </div>
  <div class="spacer xxxx-large"></div>  
</div>