---
slug: 401
layout: modules/website/system_layout
max_deep_level: 1
metadata: {
    "status": "published",
    "page_name": "System | 401",
    "open_graph:url": "",
    "open_graph:type": "",
    "open_graph:image": "",
    "open_graph:title": "401 Unauthorised",
    "open_graph:description": "401 Unauthorised",
    "open_graph:site_name": "",
    "meta_title": "401 Unauthorised",
    "page_title": "401 Unauthorised",
    "meta_description": "401 Unauthorised",
    "canonical_url": "",
    "is_visible_to_search_engines": false,
    "sitemap_enabled": false,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "99", ## secondary order (ASC)
    "sitemap_changefreq": "never"
}
---
<div class="wrapper">
    <div class="grid-x grid-padding-x text-center">
        <div class="small-12 cell spacer xxxx-large show-for-medium"></div>
        <div class="small-12 cell spacer section show-for-small-only"></div>
        <div class="large-12 medium-12 small-12 cell text-center">
            <h1 class="title">401</h1>
            <h2 class="sub-title">Unauthorised</h2>
            <div class="spacer small"></div>
            <div class="context">
                <p>Your request cannot be authenticated at this time. You can try to clear your cache & cookies and try again. If the problem persists please contact us.</p>
            </div>
            <div class="spacer x-large"></div>
            <a href="/" class="system-btn">
                Go to home page
            </a>
        </div>
        <div class="small-12 cell spacer xxxx-large show-for-medium"></div>
        <div class="small-12 cell spacer section show-for-small-only"></div>
    </div>
</div>