---
slug: 404
layout: modules/website/system_layout
# enable_profiler: true
max_deep_level: 1
metadata: {
    "status": "published",
    "page_type": "system", ## content, system or endpoint
    "og:url": "",
    "og:type": "",
    "og:image": "",
    "og:title": "404 Page Not Found",
    "og:description": "404 Page Not Found",
    "og:site_name": "",
    "meta_title": "404 Page Not Found",
    "page_title": "404 Page Not Found",
    "meta_description": "404 Page Not Found",
    "canonical_url": "",
    "search_engine_visibility": false,
    "sitemap_enabled": false,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "99", ## secondary order (ASC)
    "sitemap_changefreq": "never"
}
---
<div>
    <div class="grid-x grid-padding-x text-center">
        <div class="small-12 cell spacer xxxx-large"></div>
        <div class="large-12 medium-12 small-12 cell text-center">
            <h1 class="title">404</h1>
            <h2 class="sub-title">Page not Found</h2>
            <div class="spacer small"></div>
            <div class="context">
                <p>The page you are looking for has been removed, renamed or might have never existed. Please check the URL/link and if the error persists, please contact us.</p>
            </div>
            <div class="spacer x-large"></div>            
            <ins-button class="margin-top-small hydrated" label="GO TO HOME PAGE" color="solid blue" onclick="document.location.href = '/';">
            </ins-button>
        </div>
        <div class="small-12 cell spacer xxxx-large"></div>
    </div>
</div>