---
slug: 500
layout: modules/website/system_layout
max_deep_level: 1
metadata: {
    "status": "published",
    "page_name": "System | 500",
    "open_graph:url": "",
    "open_graph:type": "",
    "open_graph:image": "",
    "open_graph:title": "500 Server Error",
    "open_graph:description": "500 Server Error",
    "open_graph:site_name": "",
    "meta_title": "500 Server Error",
    "page_title": "500 Server Error",
    "meta_description": "500 Server Error",
    "canonical_url": "",
    "is_visible_to_search_engines": false,
    "sitemap_enabled": false,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "99", ## secondary order (ASC)
    "sitemap_changefreq": "never"
}
---
<div>
    <div class="grid-x grid-padding-x text-center">
        <div class="small-12 cell spacer xxxx-large"></div>
        <div class="large-12 medium-12 small-12 cell text-center">
            <h1 class="title">500</h1>
            <div class="spacer small"></div>
            <h2 class="sub-title">Internal server error</h2>
            <div class="spacer small"></div>
            <div class="context">
                <p>The server is unable to handle your request at this time. Please try again later.</p>
            </div>
            <div class="spacer x-large"></div>            
            <a href="/">
                <ins-button solid blue label="Go to home page"></ins-button>
            </a>
        </div>
        <div class="small-12 cell spacer xxxx-large"></div>
    </div>
</div>