---
slug: account-created
layout: modules/website/default
# enable_profiler: true
max_deep_level: 1
metadata: {
    "status": "published",
    "open_graph:url": "",
    "open_graph:type": "",
    "open_graph:image": "",
    "open_graph:title": "Account Created | Insites",
    "open_graph:description": "Account Created | Insites",
    "open_graph:site_name": "",
    "meta_title": "Account Created | Insites",
    "page_title": "Account Created | Insites",
    "meta_description": "Account Created | Insites",
    "canonical_url": "",
    "is_visible_to_search_engines": false,
    "sitemap_enabled": false,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "99", ## secondary order (ASC)
    "sitemap_changefreq": "never"
}
dynamic_cache:
  layout: true
  key: |-
    {%- parse_json models -%}
    [
      "modules/website/page_header",
      "modules/insites_core/insites_system_fields",
      "modules/insites_site_manager/insites_global_content"
    ]
    {%- endparse_json -%}
    {%- include "modules/website/cache/generate_cache_key", models: models -%}
---

{%- comment -%}
Default 'success / thank you' page
Design & content changes per project as needed
{%- endcomment -%}

{%- if context.environment == "staging" -%}
<!-- start page: thank you page  -->
{%- endif -%}
<div class="spacer section"></div>
<div class="thank-you account-created">
    <div class="grid-x grid-padding-x text-center">
        <div class="large-12 medium-12 small-12 cell">
            <div class="thank-you-img spacer">
                <i class="icon-number-of-checks"></i>
            </div>
            <h3 class="heading-3">Account Created</h3>
            <div class="spacer small"></div>
            <p>You can now sign in to the client portal.</p> 
            <div class='spacer xxx-large'></div>
            <a href='/sign-in'><ins-button label='VIew Client Portal' solid ></ins-button></a>
        </div>
    </div>
</div>

{%- if context.environment == "staging" -%}
<!-- end page: thank you page  -->
{%- endif -%}