---
slug: invalid-token
layout: modules/website/system_layout
# enable_profiler: true
max_deep_level: 1
metadata: {
    "status": "published",
    "open_graph:url": "",
    "open_graph:type": "",
    "open_graph:image": "",
    "open_graph:title": "Invalid Token",
    "open_graph:description": "Invalid Token",
    "open_graph:site_name": "",
    "meta_title": "Invalid Token",
    "page_title": "Invalid Token",
    "meta_description": "Invalid Token",
    "canonical_url": "",
    "is_visible_to_search_engines": false,
    "sitemap_enabled": false,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "99", ## secondary order (ASC)
    "sitemap_changefreq": "never"
}
---
<div>
    <div class="grid-x grid-padding-x text-center">
        <div class="small-12 cell spacer xxxx-large"></div>
        <div class="large-12 medium-12 small-12 cell text-center">
            <div class="system-pages warning spacer">
                <i class="icon-alert-triangle" style="font-size: 64px!important;"></i>
            </div>
            <h2 class="sub-title">Invalid Token</h2>
            <div class="spacer small"></div>
            <div class="context">
                <p>Unfortunately, provided token is not valid anymore. Please request password instructions again.</p>
            </div>
            <div class="spacer x-large"></div>            
            <ins-button class="margin-top-small hydrated" label="Resend the authentication email" color="solid blue" onclick="document.location.href = '/';">
            </ins-button>
        </div>
        <div class="small-12 cell spacer xxxx-large"></div>
    </div>
</div>