---
slug: success
layout: modules/website/system_layout
max_deep_level: 1
metadata: {
    "status": "published",
    "open_graph:url": "",
    "open_graph:type": "",
    "open_graph:image": "",
    "open_graph:title": "Success",
    "open_graph:description": "Success",
    "open_graph:site_name": "",
    "meta_title": "Success",
    "page_title": "Success",
    "meta_description": "Success",
    "canonical_url": "",
    "is_visible_to_search_engines": false,
    "sitemap_enabled": false,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "99", ## secondary order (ASC)
    "sitemap_changefreq": "never"
}
---

{%- comment -%}
Default 'success / thank you' page
Design & content changes per project as needed
{%- endcomment -%}

{% assign heading = value | default: "Success Heading" %}
{% assign message = value | default: "You can now sign in to the client portal"%}
{% assign button_label = value | default: "Button Label Here" %}
{% assign redirect_link = value | default: "/" %}

<div class="thank-you">
    <div class="spacer xxxx-large"></div>
        <div class="grid-x grid-padding-x text-center">
            <div class="large-12 medium-12 small-12 cell">

                <div class="thank-you-img spacer">
                    <i class="icon-number-of-checks"></i>
                </div>

                <h1 class="heading-1">{{ heading }}</h1>
                <div class="spacer"></div>
                <p class="subHeading">{{ message }}</p>
                <div class="spacer"></div>
                <a href="{{ redirect_link }}">
                    <ins-button class="margin-top-small hydrated" label="{{ button_label }}" color="solid blue"></ins-button>
                </a>
            </div>
        </div>
    <div class="spacer xxxx-large"></div>
</div>