---
slug: thank-you
layout: modules/website/website_default
max_deep_level: 1
metadata: {
    "status": "published",
    "page_name": "System | Thank you",
    "open_graph:url": "",
    "open_graph:type": "",
    "open_graph:image": "",
    "open_graph:title": "Thank you | Insites",
    "open_graph:description": "Thank you | Insites",
    "open_graph:site_name": "",
    "meta_title": "Thank you | Insites",
    "page_title": "Thank you | Insites",
    "meta_description": "Thank you | Insites",
    "canonical_url": "",
    "is_visible_to_search_engines": false,
    "sitemap_enabled": false,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "99", ## secondary order (ASC)
    "sitemap_changefreq": "never"
}
---

{%- comment -%}
Default 'success / thank you' page
Design & content changes per project as needed
{%- endcomment -%}

<div class="thank-you">
    <div class="spacer section"></div>
        <div class="grid-x grid-padding-x text-center">
            <div class="large-12 medium-12 small-12 cell">
                <div class="spacer x-large show-for-small-only"></div>
                <div class="thank-you-img spacer">
                    <i class="icon-number-of-checks"></i>
                </div>
                {%- if context.params.page == 'write-a-review' -%}
                    {%- assign heading = heading | default: "Thank you for your review!" -%}
                    {%- assign subheading = subheading | default: "We really appreciate your feedback. It helps us and other shoppers a lot!" -%}
                {%- else -%}
                    {%- assign heading = heading | default: "Thank you!" -%}
                    {%- assign subheading = subheading | default: "Your enquiry has been received." -%}
                {%- endif -%}
                <h1 class="heading-1">{{ heading }}</h1>
                <div class="spacer"></div>
                <p class="subHeading">{{ subheading }}</p>
                <div class="spacer x-large show-for-small-only"></div>
            </div>
        </div>
    <div class="spacer section"></div>
</div>
