{%- comment -%}
    Go back nav partial / content block
    - will go back to the list view of the details page
    - Notes:
        - reference is the slug 1 of the current page
        - Only works on content details pages (i.e.: blogs/..., services/..., etc.)
{%- endcomment -%}

{% liquid
    assign url = url | default: context.params.slug
    assign label = label | default: 'Go Back'
%}

<div class="grid-x grid-padding-x go-back-nav">
    <div class="large-12 cell">
        <a class="button-default font-color-head" href="/{{ url }}" data-test="go-back-link">
            <i class="icon-angle-left"></i>&nbsp;&nbsp; {{ label }}
        </a>
        <div class="spacer xx-large"></div>
    </div>
</div>