{%- graphql client_data = "modules/website/content/get_clients", size: size -%}

{%- if client_data.items.total_entries > 0 -%}
<div class="wrapper">
    <div class="grid-container homepage-clients">

        <div class="grid-x grid-padding-x align-middle">
            <div class="cell small-12 text-center">
                <h2>Clients</h2>
                <div class="spacer"></div>
                <p>Be part of our satisfied clients.</p>
                <div class="spacer xxx-large"></div>
            </div>
            <div class="cell small-12 text-center">
                <div class="clients-container flex-container">
                    {%- for item in client_data.items.results -%}

                    <div class="client-item">
                        {%- if item.link != blank -%}
                        <a href="{{ item.link }}" target="_blank" data-test="slider-link-{{item.title | downcase | parameterize}}">
                        {%- endif -%}

                        
                        <div class="img-wrap">
                        {%- if item.image.versions['Desktop'] -%}
                            <img src="{{ item.image.versions['Desktop'] | replace: ' ', '%20' }}" alt="{{ item.title }}" loading="lazy">
                        {%- else -%}
                            {% include 'modules/website/content/placeholder-image', size: 'medium' %}
                        {%- endif -%}
                        </div>

                        {%- if item.link != blank -%}
                        </a>
                        {%- endif -%}
                    </div>

                    {%- endfor -%}
                </div>
            
            </div>
        </div>

    </div>
</div>

{%- endif -%}