---
slug: about-us
layout: modules/website/static
# enable_profiler: true
searchable: true
max_deep_level: 1
metadata: {
    "status": "published",
    "page_type": "content", ## content, system or endpoint
    "og:url": "",
    "og:type": "",
    "og:image": "",
    "og:title": "About Us | Insites",
    "og:description": "About Us | Insites",
    "og:site_name": "",
    "meta_title": "About Us | Insites",
    "page_title": "About Us | Insites",
    "meta_description": "About Us | Insites",
    "canonical_url": "",
    "search_engine_visibility": true,
    "sitemap_enabled": true,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "1", ## secondary order (ASC)
    "sitemap_changefreq": "monthly"
}
dynamic_cache:
  layout: |-
    {%- comment -%}Set layout cache depending if E-commerce module is present{%- endcomment -%}
    {%- if context.modules.ecommerce.name != blank -%}
    false
    {%- else -%}
    true
    {%- endif -%}
  key: |-
    {%- parse_json models -%}
    [
      {%- if context.modules.ecommerce.name == blank -%} "modules/website/main_menu", {%- endif -%}
      "modules/insites_site_manager/insites_global_content",
      "modules/insites_core/insites_system_fields",
      "modules/website/page_header"
    ]
    {%- endparse_json -%}
    {%- include "modules/website/generate_cache_key", models: models -%}
---
{%- if context.environment == "staging" -%}
<!-- start page: about-us  -->
{%- endif -%}

<div class="wrapper">
    <div class="about-us grid-container" data-test="page-about-us">
        {%- comment -%}Top content{%- endcomment -%}
        <div class="grid-x grid-padding-x align-middle">
            <div class="large-5 medium-5 small-12 large-order-1 medium-order-1 small-order-2 cell">
                <h2>Insites</h2>
                <div class="spacer"></div>
                <p>The Insites eco-system is designed to make creating stunning web applications easy,
                fast and reliable. A digital platform tailored for business. Deliver powerful business
                websites and online stores to your clients with an all-in-one hosted solution.</p>
                <div class="spacer"></div>
                <p>Create world class web applications/SaaS products using a framework 
                that comes complete with UI components and a development eco-system.</p>
            </div>
            <div class="large-6 large-offset-1 medium-6 medium-offset-1 small-12 large-order-2 medium-order-2 small-order-1 cell">
                <img src="{{ 'modules/website/images/about-us-insites.png' | asset_url }}" alt="Insites Dashboard" width="604" height="342" >
                {%- comment -%}
                Below is just a placeholder. Remove if you have set an image below
                {%- include 'content/placeholder-image', size: 'large' -%}
                {%- endcomment -%}
                <div class="spacer show-for-small-only"></div>
            </div>
        </div>

        <div class="spacer section"></div>

        {%- comment -%}Sub contents{%- endcomment -%}
        <div class="grid-x grid-padding-x align-middle">
            <div class="large-6 medium-6 small-12 cell">
                {%- comment -%}
                Below is just a placeholder. Remove if you have set an image below
                {%- include 'content/placeholder-image' size: 'medium' -%}
                {%- endcomment -%}
                <img src="{{ 'modules/website/images/about-us-interface.png' | asset_url }}" width="604" height="485" alt="Insites Design System" loading="lazy">
            </div>
            <div class="large-5 large-offset-1 medium-5 medium-offset-1 small-12 cell">
                <h3 class="heading-2">User interface design system</h3>
                <div class="spacer"></div>
                <p>Your journey to application nirvana starts by designing your 
                application utilising our User Interface Design System, which has 
                been carefully handcrafted in Sketch, which would make your designer
                blush with excitement.</p>
                ‍
                <p>There are hundreds of Design Elements available to create a 
                stunning user experience, all while having the complete confidence 
                that each one has been developed as a Code Element for your developers 
                to use when it comes to bringing you beauty to life.</p>
            </div>
        </div>
        <div class="spacer section"></div>
        <div class="grid-x grid-padding-x align-middle">
            <div class="large-6 medium-6 small-12 cell large-order-2 medium-order-2 small-order-1">
                {%- comment -%}
                Below is just a placeholder. Remove if you have set an image below
                {%- include 'content/placeholder-image' size: 'medium' -%}{%- endcomment -%}
                <img src="{{ 'modules/website/images/about-us-development-pipeline.png' | asset_url }}" alt="Development Pipeline" width="604" height="456" loading="lazy">
            </div>
            <div class="large-5 large-offset-1 medium-5 medium-offset-1 small-12 cell large-order-1 medium-order-1 small-order-1">
                <h3 class="heading-2">Development pipeline</h3>
                <div class="spacer"></div>

                <p>Our nerdiness starts to show here because we couldn't help
                ourselves and just have any old deployment process. Oh no, we 
                crafted a complete Deployment Pipeline to process our suite of
                automation tasks which range from Unit Tests, code builds, 
                minification, and compiling so nothing escapes the wrath of strict
                code standards.</p>
            </div>
        </div>

    </div>
</div>
{%- if context.environment == "staging" -%}
<!-- end page: about-us  -->
{%- endif -%}