
<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include 'modules/website/layout/head' %} 
</head>
<body>
    <div class="main-wrap">

      {% include 'modules/website/layout/header' %}
      {% include 'modules/website/layout/header-mobile' %}

      {% comment %} connect services to graphql {% endcomment %}
      {%- graphql get_faq = 'modules/website/content/get_faq' -%}
      {% comment %} assign var to fetch the result {% endcomment %}
      {%- assign res_faq = get_faq | dig: 'items', 'results' -%}

      {% assign get_category = get_faq | dig: 'items', 'results' %}
      {% assign get_category = get_category | map: "category" | uniq %}
     
      {% include 'modules/website/content/hero-title' %} 

      {% include 'modules/website/content/testpartial' %}




    </div>
    {% include 'modules/website/layout/footer' %}  
</body>
</html>