
<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include 'modules/website/layout/head' %} 
</head>
<body>
    <div class="main-wrap">

      {% include 'modules/website/layout/header' %}
      {% include 'modules/website/layout/header-mobile' %}
 test page
    </div>
    {% include 'modules/website/layout/footer' %}  
</body>
</html>