---
metadata: {
    partial_name: 'Client | Documents | List card'
}
---

<ins-card class="fixed-btn-width">
    <div class="content">
    <div class="text-wrap">
        <div>
            <i class="icon-calendar"></i> 
            <span class="date">{{ item.updated_at | date: '%B %d, %Y' | default: "January 01, 1900" }}</span>                                 
        </div> 
        <div class="spacer x-small"></div>        
        <h4 class="heading-4">{{item.description}}</h4>
        <div class="spacer"></div>
    </div>
    <div class="spacer small"></div>
    <ins-button class="open-form-btn" data-index="{{key}}" size="small" label="VIEW/EDIT"></ins-button>
    {% if item.file.url %}
    <a href="{{ item.file.url | replace: ' ', '%20' }}" ><ins-button size="small" label="DOWNLOAD"></ins-button></a>
    {% else %}
    <ins-button size="small" label="DOWNLOAD" disabled></ins-button>
    {% endif %}
    </div>            
</ins-card>