<div class="spacer xxxx-large"></div>
<div class="accordion-section-holder">
    <div class="description">                            
        <ins-accordion-link label="Overview" link="/client-portal" link-target="_self"></ins-accordion-link>
        <ins-accordion menu>                    
            <ins-accordion-item heading="My Forms" open-icon="icon-plus" close-icon="icon-minus">
                <ins-accordion-link label="Questionnaires" link="/client-portal/questionnaires" link-target="_self"></ins-accordion-link>
            </ins-accordion-item>                                                                             
        </ins-accordion>
        <ins-accordion-link label="My Documents" link="/web-components/v2-accordion" link-target="_self"></ins-accordion-link>
        <ins-accordion-link label="My Details" link="/my-details" link-target="_self"></ins-accordion-link>
        <ins-accordion-link label="My Company Details" link="/my-company-details" link-target="_self"></ins-accordion-link>
        <ins-accordion-link label="Feedback" link="/web-components/v2-accordion" link-target="_self"></ins-accordion-link>
        <ins-accordion-link label="Payment Methods" link="/web-components/v2-accordion" link-target="_self"></ins-accordion-link>
        <ins-accordion-link label="Pay a Bill" link="/web-components/v2-accordion" link-target="_self"></ins-accordion-link>
    </div>
    <div class="spacer"></div>
</div>