---
metadata: {
  partial_name: "Services | List"
}
---

{% comment %} connect services to graphql {% endcomment %}
{%- graphql get_services = 'modules/website/services/get_services' -%}
{% comment %} assign var to fetch the result {% endcomment %}
{%- assign res_services = get_services | dig: 'items', 'results' -%}
{%- include 'modules/website/content/hero_title' -%}

<section class="services-section">  
    <div class="spacer xxxx-large"></div>
      <div class="blocks-sc-3col-01 wrapper bg-color-ui-01">
        <div class="grid-container" data-test="section-content-01">
            <div class="service-list grid-x grid-padding-x grid-padding-y gutter-medium align-strech" data-equalizer>
              <!-- card -->
              {% for item in res_services %}
                <div class="large-4 medium-6 small-12 cell align-stretch">
                  <a href="/services/{{ item.slug }}">                    
                      <ins-card steady> 
                        <span class="custIcons"> <i class="{{ item.list_view_icon }}"></i> </span>
                        <div class="spacer large"></div>
                        <h3 class="name">{{ item.service_name }}</h3>
                        <div class="spacer small"></div>
                        <div class="short-description subHeading">{{ item.list_view_text }}</div>
                      </ins-card>
                    </a>
                </div>
              {% endfor %}
              <!-- /card -->
            </div>
        </div>
      </div>
    <div class="spacer xxxx-large"></div>
  </section>