<section class="services-section">  
    <div class="spacer xxxx-large"></div>
      <div class="blocks-sc-3col-01 wrapper bg-color-ui-01">
        <div class="grid-container" data-test="section-content-01">
            <div class="service-list grid-x grid-padding-x grid-padding-y gutter-medium align-strech" data-equalizer>
              <!-- card -->
              {% for item in res_services %}
                <div class="large-4 medium-6 small-12 cell align-stretch">
                  <a href="/services/{{ item.slug }}">
                    <ins-card steady data-test="section-content-01-card">
                      <div class="align-left"><img alt="icon" src="{{ 'modules/website/images/home/icon-1.png' | asset_url }} "/></div>
                      <div class="spacer x-large"></div>
                        <div class="content">
                          <h3 class="name">{{ item.service_name }}</h3>
                          <div class="spacer x-small"></div>
                          <div class="short-description">{{ item.list_view_text }}</div>
                        </div>
                    </ins-card>
                    </a>
                </div>
              {% endfor %}
              <!-- /card -->
            </div>
        </div>
      </div>
    <div class="spacer xxxx-large"></div>
  </section>
