---
metadata: {
    "label": 'services-details-static'
}
---
{% comment %} STATIC {% endcomment %}
<section class="section-5 staticFonts">
    <div class="blocks-sc-2col-07 wrapper bg-color-ui-01">
        <div class="grid-container">
            <div class="grid-x grid-padding-x gutter-medium">
                <div class="large-12 medium-12 small-12 cell">
                    <div class="faqs-holder staticFonts">
                        <ins-accordion class="subHeading">       
                            <ins-accordion-item open-icon="icon-plus" close-icon="icon-minus" heading="{{ context.exports.data.item.dropdown_1 }}">
                                Our service will find information about your ASOS order
                            </ins-accordion-item>          
                            <ins-accordion-item open-icon="icon-plus" close-icon="icon-minus" heading="{{ context.exports.data.item.dropdown_2 }}">
                                As we've already discussed, if you notice a defect in something you recently purchased, your best option usually is to return it immediately to the retailer.
                            </ins-accordion-item>          
                            <ins-accordion-item open-icon="icon-plus" close-icon="icon-minus" heading="{{ context.exports.data.item.dropdown_3 }}">
                                Customers who bought items from ShopSM can apply for return/exchange up to thirty (30) days from the date of receipt, where day one is the receipt date
                            </ins-accordion-item>          
                        </ins-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>