<div class="grid-x grid-padding-x">
    <div class="large-12 medium-12 small-12 cell text-center">
        <h1 class="heading-1">Payment Failed</h1>
        <div class="spacer small"></div> 
        <p>We were unable to process the payment. <br>This could have happened for a number of reasons:</p>
        <div class="spacer x-large"></div>
        <p><b>{{ context.session.paybill_error.error.message }}</b></p>
        <ul style="list-style-type: none;">
            <li>Insufficient funds on the account</li>
            <li>Expired Credit Card</li>
            <li>The bank's fraud rules blocked the transaction</li>
        </ul>            
        <div class="spacer x-large"></div>
        {{ context.session }}
        <p>Order reference #: <b>{{ context.session.paybill_order_reference }}</b></p>
        <p>Payment reference #: <b>{{ context.session.paybill_payment_id }}</b></p>
        <div class="spacer x-large"></div>
        <p>You might need to update your billing info or retry. <br>If the issue persists contact your bank for more information.</p>
    </div>
</div>

{%  liquid
    session paybill_error = '' 
    session paybill_order_id = '' 
    session paybill_payment_id = '' 
%}