{%- assign slug_name = context.params.slug -%}

<section class="hero-title">
    <div class="blocks-sc-2col-08 wrapper ">    
        <div class="spacer x-large"></div>
        <div class="grid-container">        
            <h1 class="" style="padding: 0px;">
                {% if slug_name == 'about' %}
                    About us
                {% elsif slug_name == 'services' %}
                    Services
                {% elsif slug_name == 'services-details' %}
                    Customisable Style Guide
                {% elsif slug_name == 'faqs' or slug_name == 'faq-details' %}
                    FAQ
                {% elsif slug_name == 'privacy-policy' %}
                    Privacy Policy
                {% elsif slug_name == 'contact' %}
                    Contact
                {% elsif slug_name == 'terms-and-conditions' %}
                    Terms & Conditions
                {% else %}
                    Test Page
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="spacer x-large"></div>
</section>