{%- comment -%}
Maintenance / Splash page content.
Content / design may change per project.
{%- endcomment -%}

<div class="spacer section"></div>

  <div class="grid-x">
      <div class="large-12 cell text-center">
          <i class="heading-1 icon-disputes color-warning"></i>
          <div class="spacer"></div>
          <h1>Maintenance In Progress</h1>
          <div class="spacer x-large"></div>
          <p>Sorry for the inconvinence. <br> Perfection takes time, thank you for your patience!</p>
      </div>
  </div>

<div class="spacer section"></div>