{%- comment -%}
"So Many components"
- Just a static text + CTA section / content block
{%- endcomment -%}

<div class="component-background wrapper">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-6 medium-10 small-10 cell">
                <div class="spacer section"></div>
                <h2 class="heading-2">So many components!</h2>
                <div class="spacer"></div>
                <div>A whole kitchen sink of goodies comes with Insites Components. Check out the framework to see them all, along with details on making them your own.</div>
                <div class="spacer"></div>
                <a href="https://components.insites.io/" target="_blank" rel="noreferrer" data-test="ins-component-link">
                    <ins-button solid color="blue" label="Go to Insites components"></ins-button>
                </a>
                <div class="spacer section"></div>
            </div>
        </div>
    </div>
</div>