<div id="change-password-container" class="form-group" active>

      <div class="column-1">
          <div class="spacer small"></div>
          <h2 class="heading-2">Change Password</h2>
          <div class="spacer small"></div>
          <p>Please note that you will automatically be signed out after succesfully changing your password.</p>
      </div>

      <div class="column-2">
        <ins-input validate
          id="password"
          label="Password*"
          field="password"
          name="{{ form.fields.password.name }}" 
          value="{{ form.fields.password.value }}" 
          {% if form.errors['password'] %} has-error {% endif %}
          error-message="{{ form.fields.password.validation.rules.presence.message }}"
          placeholder="Password">
        </ins-input>
      </div>
         
    <div class="column-1">      
        <ins-button type="submit" id="save-password-btn" label="Update Password" icon="icon-key" outlined >
    </div>

</div>    