<div id="confirmation-container" class="form-group fadeIn hide" active>

      <div class="column-1" >
        <div class="agreement-text scrollbar">
          <h2 class="heading-2">Insites Service Level Agreement</h2>
          <div class="spacer small"></div>
          <p>
            Thank you for the privilege of allowing Insites to assist in the preparation of your US tax returns. This letter confirms that you have requested Insites to provide tax advisory/preparation services. This engagement letter expresses the terms and conditions under which we will provide you such tax services, as well as the limitations of the services that you have asked us to perform. If you have any questions regarding this letter, or believe we have missed or misstated your understanding, please notify us prior to signing it. The engagement between you and our firm will be governed by the terms of this agreement.
          </p>
          <div class="spacer small"></div>
          <h3 class="heading-3">General Service Commitment</h3>
          <div class="spacer small"></div>
          <p>
            Insites will use commercially reasonable efforts to ensure Production Server Endpoints for Amazon EC2, Amazon EBS, Amazon RDS, Elasticsearch and REDIS Clusters (Included Services) are each available with a Monthly Uptime Percentage of at least 99.9%, in each case during any monthly billing cycle (the "Service Commitment"). This is based on a 50% utilisation of services by the number of total users allocated for a given Hosting tier. EG: A hosting plan with capacity for 25,000 users should expect no service degradation for 12,000 active users.In the event of Customers requiring a spike in resources due to specific events, it will be required that Insites be informed of such event to ensure provisioning is made. In almost all cases, auto-scaling will account for load spikes and be charged as overages (as outlined in the Terms of Service) where required.In the event any of the Included Services do not meet the Service Commitment, you will be eligible to receive a Service Credit as described below.
          </p>
        </div>
      </div>
      
    <!-- Field: I agree and understand -->
    <div class="column-1">
        <div class="list-field-wrap" 
            validate
            data-type="array" 
            data-ui="list_checkbox"  
            data-name="{{ form.fields.properties.agreement.name }}"
            {%- if form.errors['properties.agreement'] != nil -%} has-error="true" {%- endif -%}>
            <label class="list-checkbox_label"></label>
            <div class="list-checkbox-options">
                <ins-checkbox validate
                    id="agreement"
                    label="I agree and understand" 
                    value="I agree and understand" 
                    name="{{ form.fields.properties.agreement.name }}">
                </ins-checkbox>
            </div>
            <p class="list-checkbox_error">{{ form.errors['properties.agreement'] | default: 'Required' }}</p>
        </div>
    </div>   
  
    <div class="column-1">      
        <div class="spacer small"></div>
        <div class="grid-x">
            <div class="cell large-6 medium-6 small-12"><ins-button id="back-to-step-2" type="button" label="BACK" icon="icon-arrow-back" outlined ></ins-button></div>
            <div class="cell large-6 medium-6 small-12 text-right"><ins-button id="submit-confirmation" type="submit" label="REGISTER" icon-right="icon-arrow-forward" solid ></ins-button></div>
        </div>  
    </div>

</div>    