
{%- liquid

    if context.flash.notice != blank
        assign statusPersonal = "complete"
        assign statusCompany = "complete"
        assign statusConfirmation = "complete"
        assign statusVerify = "complete"
    endif

-%}

<div class="form-groups-tab step-scrollbar">        
    <ins-steps id="register-stepper" style="width: 100%;">
        <ins-step id="stepper-personal-details" description="Personal Details" {{statusPersonal}} ></ins-step>
        <ins-step id="stepper-company-details" description="Company Details" {{statusCompany}} ></ins-step>
        <ins-step id="stepper-confirmation" description="Confirmation" {{statusConfirmation}} ></ins-step>
        <ins-step description="Verify" {{statusVerify}} ></ins-step>
    </ins-steps>
</div>