{%- comment -%} Used by the fragment cache in the layout {%- endcomment -%}
{%- include "modules/website/layout_fragment_cache_key" -%}

<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include 'modules/website/layout/head' %}  
    <title>Insites Client Portal v5</title>
</head>
<body>
    <div class="main-wrap">
        {%- capture header -%} {{ context.exports.layout_cache_key.cache_key | append: "-header" }} {%- endcapture -%}
        {% cache header %}
            {% include 'modules/website/layout/header' %} 
        {% endcache %}
        
        {%- capture header-mobile -%} {{ context.exports.layout_cache_key.cache_key | append: "-header-mobile" }} {%- endcapture -%}
        {% cache header-mobile %}
            {% include 'modules/website/layout/header-mobile' %}
        {% endcache %}

        {{ content_for_layout }}
    </div>
    {%- capture footer_section -%} {{ context.exports.layout_cache_key.cache_key | append: "-footer_section" }} {%- endcapture -%}
    {% cache footer_section %}
        {% include 'modules/website/layout/footer' %}  
    {% endcache %}
</body>
</html>