---
metadata: {
    layout_name: default
}
---
<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include 'modules/website/layout/head' %}
</head>
<body>
    <div class="main-wrap">      
        {% include 'modules/website/layout/header_default' %} 
        {% include 'modules/website/layout/header_mobile_default' %}

        {{ content_for_layout }}
    </div>
    
    {% include 'modules/website/layout/footer' %}

</body>
</html>