---
metadata: {
    layout_name: system_layout
}
---
<!doctype html>
<html class="no-js" lang="en">
    <head>
        {% include 'modules/website/layout/head' %}
    </head>
    <body class="system-page flex-container flex-dir-column">
        <div class="">
            {% include 'modules/website/layout/header_default' %} 
            {% include 'modules/website/layout/header_mobile_default' %}

            <div class="system-content">      
                {{ content_for_layout }}
            </div>
        </div>
        {% include 'modules/website/layout/footer' %}
        {% include 'modules/website/layout/foot' %}
    </body>
</html>

