---
metadata: {
    layout_name: system_layout_website
}
---
<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% include 'modules/website/layout/head' %}


  </head>
  <body class="system-page flex-container flex-dir-column">
        {% include 'modules/website/layout/header' %} 
        {% include 'modules/website/layout/header_mobile' %}

    {% comment %} ? For ecommerce cart drawer {% endcomment %}
    {% if context.constants.ecommerce_addon == 'true' %}
      {% include 'modules/ecommerce/carts/cart_drawer' %}
    {% endif %}
    
    
    <div class="wrapper">
      <div class="system-content grid-container">
        <div class="spacer xxxx-large"></div>
        {{ content_for_layout }}
        <div class="spacer section"></div>
      </div>
    </div>
    
    {% include 'modules/website/layout/footer' %}
    
    </body>
</html>