---
metadata: {
    layout_name: form
}
---
<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include 'modules/website/layout/head' %}

    <script type="module" src="https://components.insites.io/v2/latest/insites.esm.js"></script>
    <script nomodule src="https://components.insites.io/v2/latest/insites.js"></script>
    {%- include 'modules/client/insites_database/insites_database_form_scripts' -%}
    {%- include 'modules/insites_forms/form_scripts' -%}

</head>
<body>
    <div class="main-wrap">
        {% include 'modules/website/layout/header' %} 
        {% include 'modules/website/layout/header_mobile' %}

        {% comment %} ? For ecommerce cart drawer {% endcomment %}
        {% if context.constants.ecommerce_addon == 'true' %}
            {% include 'modules/ecommerce/carts/cart_drawer' %}
        {% endif %}
        
        <div class="wrapper bg-color-main">
            <div class="grid-container">
                <div class="spacer x-large"></div>
                {%- liquid
                    if context.page.metadata.heading == "Questionnaire Form"
                        if params.slug2
                            assign heading = "Edit Questionnaire"
                        else
                            assign heading = "Add Questionnaire"
                        endif
                    else
                        assign heading = context.page.metadata.heading
                    endif
                -%}
                <h1 class="heading-1">{{ heading }}</h1>
                <div class="spacer x-large"></div>
            </div>
        </div>

        <div class="wrapper client-portal">
            <div class="grid-container">
                <div class="grid-x gutter-medium grid-padding-x">
                    <div class="large-3 medium-5 small-12 cell bg-color-ui-02">
                        {% include 'modules/client/layouts/sidebar' %}
                    </div>
                    <div class="large-9 medium-7 small-12 cell bg-color-ui-01 main-content">
                        <div class="spacer xxxx-large"></div>
                        {{ content_for_layout }}
                        <div class="spacer xxxx-large"></div>
                    </div>
                </div>
            </div>
        </div>                       
    </div>
    
{% include 'modules/website/layout/footer' %}
</body>
</html>