<!-- ABOUT US: Support -->
<section class="">
  <div class="grid-container">
      <div class="blocks-sc-3col-06 wrapper custCard">
        <div class="spacer xx-large show-for-large"></div>
        <div class="spacer x-large show-for-small"></div>
          <div class="">
            <div class="small-12 cell text-center">
              <h2 class="colorWhite">Ongoing support</h2>
              <div class="spacer"></div>
              <p class="colorWhite subHeading">It is a secure and convenient way for clients to access important information and documents, as well as to communicate with the business.</p>
              <div class="spacer"></div>
            </div>

            <div class="service-list grid-x grid-padding-x grid-padding-y gutter-medium align-strech" data-equalizer>
              <!-- card -->
              <div class="large-3 medium-6 small-12 cell align-stretch">
                <a>
                  <ins-card class="support" steady no-padding>
                    <div class="content text-center">
                      <div class="spacer">
                        <span class="custIconCheck"><i class="icon-check"></i></span>
                      </div>
                      <p class="subHeading">Clients can quickly and easily view their account statements, invoices, and other documents.</p>
                    </div>
                  </ins-card>
                </a>
              </div>
              <!-- /card -->
              <!-- card -->
              <div class="large-3 medium-6 small-12 cell align-stretch">
                <a>
                    <ins-card class="support" steady no-padding>
                        <div class="content text-center">
                          <div class="spacer">
                            <span class="custIconCheck"><i class="icon-check"></i></span>
                          </div>
                          <p class="subHeading">Submit questions or requests directly to the business, and receive responses in a timely manner</p>
                        </div>
                      </ins-card>
                </a>
              </div>
              <!-- /card -->
              <!-- card -->
              <div class="large-3 medium-6 small-12 cell align-stretch">
                <a>
                    <ins-card class="support" steady no-padding>
                        <div class="content text-center">
                          <div class="spacer">
                            <span class="custIconCheck"><i class="icon-check"></i></span>
                          </div>
                          <p class="subHeading">Used to improve customer service, streamline processes, and reduce paperwork.</p>
                        </div>
                      </ins-card>
                </a>
              </div>
              <!-- /card -->
              <!-- card -->
              <div class="large-3 medium-6 small-12 cell align-stretch">
                  <a>
                      <ins-card class="support" steady no-padding>
                          <div class="content text-center">
                            <div class="spacer">
                              <span class="custIconCheck"><i class="icon-check"></i></span>
                            </div>
                            <p class="subHeading">Ideal for businesses that need to keep track of customer data or provide access to secure information</p>
                          </div>
                        </ins-card>
                  </a>
              </div>
              <!-- /card -->
            </div>
          </div>
          <div class="spacer xx-large show-for-large"></div>
          <div class="spacer x-large show-for-small"></div>
      </div>
  </div>
</section>

<div class="spacer xxxx-large show-for-large"></div>
<div class="spacer x-large show-for-small"></div>