---
slug: client-portal
layout: modules/client/default
searchable: true
max_deep_level: 1
metadata: {
    "status": "published",
    "page_name": "Client Portal - Overview",
    "open_graph:url": "",
    "open_graph:type": "",
    "open_graph:image": "",
    "open_graph:title": "Overview | Insites",
    "open_graph:description": "Overview | Insites",
    "open_graph:site_name": "",
    "meta_title": "Overview | Insites",
    "page_title": "Overview | Insites",
    "meta_description": "Overview | Insites",
    "canonical_url": "",
    "is_visible_to_search_engines": true,
    "sitemap_enabled": true,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "1", ## secondary order (ASC)
    "sitemap_changefreq": "monthly"
}
dynamic_cache:
  layout: true
  key: |-
    {%- parse_json models -%}
    [
      "modules/insites_site_manager/insites_global_content",
      "modules/insites_core/insites_system_fields",
      "modules/client/client_portal_banners"
    ]
    {%- endparse_json -%}
    {%- include "modules/website/cache/generate_cache_key", models: models -%}
    {{context.current_user.id}}
    {{context.device.device_type}}
authorization_policies:
  - modules/client/is_user_logged_in    
---

{%- if context.environment == "staging" -%}
<!-- start page: overview  -->
{%- endif -%} 

{%- graphql data = "modules/client/questionnaires/get_questionnaires_overview", user_id: context.current_user.id, not_agreement: "I understand and agree", size: 6 | dig: "items","results" -%}
<div class="questionnaire">
{%- if data.size > 0 -%}
  <h2 class="heading-2">My Incomplete Forms</h2>
  <div class="spacer x-large"></div>
  <div class="grid-container client-card">
    <div class="grid-x grid-padding-x grid-padding-y">

    
    {%- for item in data -%}
      <div class="large-4 medium-6 small-12 cell align-stretch">
          {%- include "modules/client/questionnaires/list_card", showName: true, item -%}
      </div>
    {%- endfor -%}

    </div>
  </div>
  
{%- else -%}  
  <h2 class="heading-2">My Incomplete Forms</h2>
  <div class="spacer"></div>
  <div class="box text-center">
    <div class="spacer xxx-large"></div>
    <h4 class="heading-4">No incomplete forms</h4>
    <div class="spacer xxx-large"></div>
  </div>
{%- endif -%}
</div>


{%- if context.environment == "staging" -%}
<!-- end page: overview  -->
{%- endif -%}