---
slug: client-portal
layout: modules/client/index
# enable_profiler: true
searchable: true
max_deep_level: 1
metadata: {
    "status": "published",
    "page_type": "content", ## content, system or endpoint
    "og:url": "",
    "og:type": "",
    "og:image": "",
    "og:title": "About Us | Insites",
    "og:description": "About Us | Insites",
    "og:site_name": "",
    "meta_title": "About Us | Insites",
    "page_title": "About Us | Insites",
    "meta_description": "About Us | Insites",
    "canonical_url": "",
    "search_engine_visibility": true,
    "sitemap_enabled": true,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "1", ## secondary order (ASC)
    "sitemap_changefreq": "monthly"
}
dynamic_cache:
  layout: |-
    {%- comment -%}Set layout cache depending if E-commerce module is present{%- endcomment -%}
    {%- if context.modules.ecommerce.name != blank -%}
    false
    {%- else -%}
    true
    {%- endif -%}
  key: |-
    {%- parse_json models -%}
    [
      {%- if context.modules.ecommerce.name == blank -%} "modules/website/main_menu", {%- endif -%}
      "modules/insites_site_manager/insites_global_content",
      "modules/insites_core/insites_system_fields",
      "modules/client/client_portal_banners"
    ]
    {%- endparse_json -%}
    {%- include "modules/website/generate_cache_key", models: models -%}
    {%- if context.device.device_type == 'smartphone' -%}
        smartphone
    {%- else -%}
        desktop
    {%- endif -%}
---
{%- if context.environment == "staging" -%}
<!-- start page: overview  -->
{%- endif -%}

<div class="questionnaire">
{%- if context.params.test == '1' -%}
  <h2 class="heading-2">My Incomplete Forms</h2>
  <div class="spacer"></div>
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">

    {%- for i in (1..4) -%}
      <div class="large-4 medium-6 small-12 cell align-stretch">

          <ins-card >
            <div class="content">
              <div class="text-wrap">
                <div class="grid-x">
                  <div class="large-8 cell"><i class="icon-calendar"></i> <span class="date">January 11, 2023</span></div>                  
                  <div class="large-4 cell align-right vertical-align-middle"><ins-tag label="Draft" class="'draft"></ins-tag></div>                  
                </div> 
                
                <h3 class="heading-3">2021</h3>
                <div class="spacer xx-small"></div>
                <p>Questionnaire</p>
                <div class="spacer"></div>
              </div>
              <div class="spacer small"></div>
              <a href="" ><ins-button size="small" label="VIEW/EDIT"></ins-button></a>
              <a href="" ><ins-button size="small" label="DOWNLOAD"></ins-button></a>
            </div>            
          </ins-card>

      </div>
    {%- endfor -%}

    </div>
  </div>
  
{%- else -%}  
  <h2 class="heading-2">My Incomplete Forms</h2>
  <div class="spacer"></div>
  <div class="box text-center">
    <div class="spacer xxx-large"></div>
    <h4 class="heading-4">No incomplete forms</h4>
    <div class="spacer xxx-large"></div>
  </div>
{%- endif -%}
</div>


{%- if context.environment == "staging" -%}
<!-- end page: overview  -->
{%- endif -%}