---
name: questionnaires_additional_details
resource: modules/client/questionnaires
resource_owner: anyone
redirect_to: /client-portal/questionnaires-confirmation/{{form.id}}
fields:
  properties:
    contact_name:
      validation:
        presence: true
    contact_number:
      validation:
        presence: true
    update_site:
      validation:
        presence: true
    notes:
#callback_actions: >
---

{%- graphql database_info = "modules/client/forms/get_database_info", $resource: "modules/client/questionnaires" | dig: "items","results" | first -%}
{%- assign fields = database_info.properties -%}
{%- assign form = form | add_hash_key: "metadata", fields -%}

{%- form html-class: 'insites-form insites-form-code' html-novalidate: 'novalidate' html-data-form: 'modules/client/questionnaires' -%}

    <div class="insites-form-grid">
    
        <div class="form-groups-tab">        
            {% include "modules/client/questionnaires-steps" %}
        </div>
        
        {% include "modules/client/forms/questionnaires-additional-details-inputs", form %}
        
    </div>
    
    <div class="insites-form-grid">
        <div class="insites-form-buttons column-1 text-right">            
            <a href="/client-portal/questionnaires"><ins-button type="button" label="CANCEL" icon="icon-close-1"></ins-button></a>
            <a href="/client-portal/questionnaires-general/{{context.params.slug3}}"><ins-button type="button" label="BACK" icon="icon-arrow-left" outlined ></ins-button></a>
            <ins-button type="submit" label="SAVE & NEXT" icon-right="icon-arrow-forward" solid ></ins-button>
        </div>
    </div>
    
{%- endform -%}
        
<script id="modules/client/questionnaires">
    InsitesFormProcessor.setFormProps("modules/client/questionnaires", "modules/client/questionnaires", {{ form.fields.properties }}, "", true);
</script>

<script>
    // Update `countryCode` and `phonenum-value` attribute of the telephone
    let contact_number = document.getElementById('contact_number');
    contact_number.addEventListener('didLoad', function(e){    
        let countryCode = {{ form.fields.properties.contact_number.value | split: ' ' | default: '[]' }};
        if (Array.isArray(countryCode) && countryCode.length == 2){
            contact_number.setCountryCode(countryCode[0]);
            contact_number.setAttribute('phonenum-value', countryCode[1]);
        }
    });   
</script>