---
name: questionnaires_additional_details
resource: modules/client/questionnaires
resource_owner: anyone
redirect_to: /questionnaires-confirmation/{{form.id}}
fields:
  properties:
    contact_name:
      validation:
        presence: true
    contact_number:
      validation:
        presence: true
    update_site:
      validation:
        presence: true
    notes:
#callback_actions: >
---

{%- graphql database_info = "modules/client/forms/get_database_info", $resource: "modules/client/questionnaires" | dig: "items","results" | first -%}
{%- assign fields = database_info.properties -%}
{%- assign form = form | add_hash_key: "metadata", fields -%}

{%- form
    html-autocomplete: "off"
    html-id: "questionnaires-form"
    html-class: 'insites-form insites-form-code questionnaires-form' 
    html-novalidate: true
    html-onsubmit: "return validateQuestionnairesForm(event)" -%}   

    <div class="insites-form-grid">
    
        <div class="form-groups-tab">        
            {% include "modules/client/questionnaires/questionnaires-steps" %}
        </div>
        
        {% include "modules/client/questionnaires/questionnaires-additional-details-inputs", form %}
        
    </div>

    <div class="insites-form-grid ">        
      <div class="insites-form-buttons column-1">
        <div class="spacer small"></div>
        <div class="grid-x">
          <div class="large-4 medium-6 small-12">
            <ins-button type="submit" label="SAVE & EXIT" icon="icon-exit-to-app" id="save-exit-btn" ></ins-button>
            <div class="spacer show-for-small-only"></div>
          </div>          
          <div class="large-8 medium-6 small-12 text-right">
            {% comment %} Desktop view of buttons {% endcomment %}
            <div class="show-for-large">
              <ins-button type="button" label="CANCEL" class="cancel-btn" icon="icon-close-1"></ins-button>
              <a href="/questionnaires-general/{{context.params.slug2}}"><ins-button type="button" label="BACK" icon="icon-arrow-left" outlined ></ins-button></a>
              <ins-button type="submit" label="SAVE & NEXT" class="save-next-btn mr-0" icon-right="icon-arrow-forward" solid ></ins-button>
            </div>            
            
            {% comment %} Tablet and Mobile view of buttons {% endcomment %}
            <div class="hide-for-large mr-0">              
              <ins-button type="submit" label="SAVE & NEXT" class="save-next-btn" icon-right="icon-arrow-forward" solid ></ins-button>
              <div class="spacer"></div>
              <a href="/questionnaires-general/{{context.params.slug2}}"><ins-button type="button" label="BACK" icon="icon-arrow-left" outlined ></ins-button></a>
              <div class="spacer"></div>
              <ins-button type="button" label="CANCEL" class="cancel-btn" icon="icon-close-1" ></ins-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
{%- endform -%}

{%- include 'modules/client/questionnaires/questionnaires-cancel-modal' -%}

<script>
  <!-- Set Contact Number value -->
  let contactNumber = document.getElementById('ins_contact_number');
  contactNumber.addEventListener('didLoad', function(e){    
    let countryCode = {{ form.fields.properties.contact_number.value | split: ' ' | default: '[]' }};
    if (Array.isArray(countryCode)){
      contactNumber.setCountryCode(`+${countryCode[0]}`);
      if(countryCode.length > 1){
        contactNumber.setAttribute('phonenum-value', countryCode[1]);
      }
    }
  });   

  <!-- Submit Form -->
  let form = document.getElementById('questionnaires-form');
  let saveNextBtn = document.querySelectorAll('.save-next-btn');
  let saveExitBtn = document.getElementById('save-exit-btn');
  let saveExitInput = document.getElementById('save-exit');
      saveExitBtn.addEventListener('insClick', event => {
        saveExitInput.value = "true";
      });   

  async function validateQuestionnairesForm(event) {
    event.preventDefault();
                    
    if (await App.validation.validateForm(form)) {
      saveNextBtn.forEach(btn => btn.loading = true);
      document.querySelectorAll('ins-button').forEach(btn => btn.disabled = true);

      let contactNumberInput = document.getElementById('contact_number');
      let phoneVal = await contactNumber.getValues();
      contactNumberInput.value = `${phoneVal.country_code} ${phoneVal.phone_number}`; 
      
      form.submit();
      return true;
    } else {
      saveNextBtn.forEach(btn => btn.loading = false);
      return false;
    }
  }
</script>  