---
name: questionnaires_additional_details
resource: modules/client/questionnaires
resource_owner: anyone
redirect_to: /questionnaires-confirmation/{{form.id}}
fields:
  properties:
    contact_name:
      validation:
        presence: true
    contact_number:
    #  validation:
    #    presence: true
    update_site:
      validation:
        presence: true
    notes:
#callback_actions: >
---

{%- graphql database_info = "modules/client/forms/get_database_info", $resource: "modules/client/questionnaires" | dig: "items","results" | first -%}
{%- assign fields = database_info.properties -%}
{%- assign form = form | add_hash_key: "metadata", fields -%}

{%- form
    html-autocomplete: "off"
    html-id: "questionnaires-form"
    html-class: 'insites-form insites-form-code questionnaires-form' 
    html-novalidate: true
    html-onsubmit: "return validateQuestionnairesForm(event)" -%}   

    <div class="insites-form-grid">
    
        <div class="form-groups-tab">        
            {% include "modules/client/questionnaires/questionnaires-steps" %}
        </div>
        
        {% include "modules/client/questionnaires/questionnaires-additional-details-inputs", form %}
        
    </div>

    <div class="insites-form-grid ">        
      <div class="insites-form-buttons column-1">
        <div class="spacer small"></div>
        <div class="grid-x">
          <div class="large-3 medium-3 small-12">
            <ins-button type="submit" label="SAVE & EXIT" icon="icon-exit-to-app" id="save-exit-btn" ></ins-button>
          </div>
          <div class="large-9 medium-9 small-12 text-right">
            <a href="/questionnaires"><ins-button type="button" label="CANCEL" icon="icon-close-1"></ins-button></a>
            <a href="/questionnaires-general/{{context.params.slug2}}"><ins-button type="button" label="BACK" icon="icon-arrow-left" outlined ></ins-button></a>
            <ins-button type="submit" label="SAVE & NEXT" icon-right="icon-arrow-forward" solid class="mr-0"></ins-button>
          </div>
        </div>
      </div>
    </div>
    
{%- endform -%}

<script>
    <!-- Contact Number country code -->
    let contact_number = document.getElementById('contact_number');
    contact_number.addEventListener('didLoad', function(e){    
        let countryCode = {{ form.fields.properties.contact_number.value | split: ' ' | default: '[]' }};
        if (Array.isArray(countryCode) && countryCode.length == 2){
            contact_number.setCountryCode(countryCode[0]);
            contact_number.setAttribute('phonenum-value', countryCode[1]);
        }
    });   

  <!-- Submit Form -->
  let form = document.getElementById('questionnaires-form');
  let buttons = form.querySelectorAll('ins-button');
  let saveExitBtn = document.getElementById('save-exit-btn');
  let saveExitInput = document.getElementById('save-exit');
      saveExitBtn.addEventListener('insClick', event => {
        saveExitInput.value = "true";
      });   

  async function validateQuestionnairesForm(event) {
    event.preventDefault();
    buttons.forEach(btn => btn.loading = true);                
    if (await App.validation.validateForm(form)) {
      form.submit();
      return true;
    } else {
      buttons.forEach(btn => btn.loading = false);
      return false;
    }
  }
</script>  