---
name: questionnaires_confirmation
resource: modules/client/questionnaires
resource_owner: anyone
redirect_to: /questionnaires
fields:
  properties:
    agreement:
      validation:
        presence: true
#callback_actions: >
---

{%- graphql database_info = "modules/client/forms/get_database_info", $resource: "modules/client/questionnaires" | dig: "items","results" | first -%}
{%- assign groups = database_info.metadata.groups | sort_by: "weight" -%}
{%- assign fields = database_info.properties -%}
{%- assign form = form | add_hash_key: "metadata", fields -%}

{% comment %} html-onSubmit: "return quoteFormScript.validations.validateForm(event)" {% endcomment %}

{%- form html-class: 'insites-form insites-form-code' 
    html-novalidate: 'novalidate' 
    html-data-form: 'modules/client/questionnaires' 
-%}

    <div class="insites-form-grid">
    
    <div class="form-groups-tab">        
        {% include "modules/client/questionnaires/questionnaires-steps" %}
    </div>
    
    {% include "modules/client/questionnaires/questionnaires-confirmation-inputs", form %}
        
    </div>

    <div class="spacer x-large"></div>
    
    <div class="insites-form-grid">
        <div class="insites-form-buttons column-1 text-right">    
            <a href="/questionnaires"><ins-button type="button" label="CANCEL" icon="icon-close-1" ></ins-button></a>
            <a href="/questionnaires-additional-details/{{context.params.slug2}}"><ins-button type="button" label="BACK" icon="icon-arrow-left" outlined ></ins-button></a>        
            {% comment %} 
            <ins-button label="SUBMIT" solid id="openModalBtn" style="display: inline;" ></ins-button>            
            <input type="submit" value="test"> 
            {% endcomment %}
            <ins-button type="submit" label="SUBMIT" solid icon="icon-check-2" ></ins-button>
        </div>
    </div>
    
{%- endform -%}

<ins-modal 
  id="modal"
  with-backdrop 
  confirmation value="DATA"
  width="400px" 
  height="auto"  
  no-button
  prevent-click-outside>

  <div id="myModalContent" class="text-center">    
    <div class="warning"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 168.33 168.33"><defs></defs><title>warning</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M84.16,0a84.16,84.16,0,1,0,84.16,84.16A84.26,84.26,0,0,0,84.16,0Zm0,162.33a78.16,78.16,0,1,1,78.16-78.16A78.25,78.25,0,0,1,84.16,162.33ZM87.6,98.86,89,50.27H79.31l1.42,48.58Zm-3.44,8.2a6.28,6.28,0,0,0,0,12.55c3.64,0,6-2.73,6-6.28S87.81,107.05,84.16,107.05Z"></path></g></g></svg></div>
    <div class="spacer"></div>
    <h3 class="heading-3">Submit Questionnaire</h3>
    <div class="spacer"></div>
    <p>Once submitted, the form cannot be edited.</p>  
    <div class="spacer"></div>
    <ins-button type="submit" label="CANCEL" outlined icon="icon-close-1" onclick="modal.close()" ></ins-button>
    <ins-button type="submit" label="SUBMIT" solid icon="icon-check-2" onclick="form.submit()"></ins-button>
  </div>

</ins-modal>

<script>
  var modal = document.getElementById('modal');
  var openModalBtn = document.getElementById('openModalBtn');
  openModalBtn.addEventListener('insClick', () => {
    modal.open();
  });


  let form2 = document.querySelector('form');
  
  let test = document.getElementById('test');
// Eventlistener can be another event and on another DOM object this is just an example
form2.addEventListener('submit', function (event) {
    // Only needed if event is submit, otherwise this line can be skipped 
    
    
    let agree = document.querySelector('#agreement input');
    console.log(agree);

    console.log("entered");
    console.log(agree.checkValidity());
    console.log(agree.reportValidity());

    // This is the important part, test if form is valid
    if (form2.checkValidity() === false){
        // This is the magic function that displays the validation errors to the user
          
        console.log(form2.reportValidity());
        return; 
    }else
    {
        return false;
    }

    event.preventDefault();
    return false;

    // Code if all fields are valid; continue form submit or make Ajax call.
})

</script>
        
<script id="modules/client/questionnaires">
    InsitesFormProcessor.setFormProps("modules/client/questionnaires", "modules/client/questionnaires", {{ form.fields.properties }}, "", true);
</script>