<hr>
<footer class="blocks-footer-05 footer bg-color-ui-01">
    <div class="spacer xxxx-large"></div>
    <div class="wrapper top-footer">
        <div class="grid-container">
            <div class="grid-x grid-padding-x gutter-medium">
                <div class="large-4 medium-6 small-12 cell text-left">
                    <div class="img-logo img-full">
                        <img alt="logo" style="width: 20%" src="https://docs.insites.io/assets/images/webblocks/insites-template-logo.png?updated" alt="Sample Logo">
                    </div>
                </div>
                <div class="small-12 cell spacer xxx-large hide-for-medium"></div>
                <div class="large-2 medium-6 small-12 cell">
                    <ul class="vertical menu">
                        <li>
                            <p class="navigation-level-1 color-font-head" data-test="">Quick Links</p>
                            <div class="spacer"></div>
                        </li>
                        <li>
                            <a class="footer-links color-font-head" data-test="" href="/about-us">About</a>
                            <div class="spacer small"></div>
                        </li>
                        <li>
                            <a class="footer-links color-font-head" data-test="" href="/faqs">FAQs</a>
                            <div class="spacer small"></div>
                        </li>
                        <li>
                            <a class="footer-links color-font-head" data-test="" href="/news">News</a>
                            <div class="spacer small"></div>
                        </li>
                        <li>
                            <a class="footer-links color-font-head" data-test="" href="/contact-us">Contact</a>
                            <div class="spacer small"></div>
                        </li>
                    </ul>
                </div>
                <div class="small-12 cell spacer xxx-large hide-for-large"></div>
                <div class="large-3 medium-6 small-12 cell">
                    <ul class="vertical menu">
                        <li>
                            <a class="navigation-level-1 color-font-head" data-test="">Services</a>
                            <div class="spacer"></div>
                        </li>
                        {% comment %} connect services to graphql {% endcomment %}
                        {%- graphql get_services = 'modules/website/content/get_services' -%}
                        {% comment %} assign var to fetch the result {% endcomment %}
                        {%- assign res_services = get_services | dig: 'items', 'results' -%}
                        
                        {% for item in res_services %}
                          <li>
                              <a href="/services/{{ item.slug }}" class="footer-links color-font-head" data-test="">{{ item.service_name }}</a>
                              <div class="spacer small"></div>
                          </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="small-12 cell spacer xxx-large hide-for-medium"></div>
                <div class="large-2 medium-6 small-12 cell">
                  <div class="spacer xxx-large hide-for-large"></div>
                  <ul class="vertical menu">
                    <li><a class="navigation-level-1 color-font-head" data-test="">External Links</a>
                      <div class="spacer"></div>
                    </li>
                    <li>
                      <a class="footer-links color-font-head" data-test="">
                        <span>Website</span>
                        <i class="icon-external-link1"></i>
                      </a>
                      <div class="spacer small"></div>
                    </li>
                    <li>
                      <a class="footer-links color-font-head" data-test="">
                        <span>Console</span>
                        <i class="icon-external-link1"></i>
                      </a>
                      <div class="spacer small"></div>
                    </li>
                    <li>
                      <a class="footer-links color-font-head" data-test="">
                        <span>Resources</span>
                        <i class="icon-external-link1"></i>
                      </a>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer xxxx-large show-for-medium"></div>
    <div class="spacer x-large hide-for-medium"></div>

    <div class="wrapper bottom-footer" >
        <div class="grid-container">
            <hr>
            <div class="spacer"></div>
            <div class="grid-x align-justify">
                <div class="large-6 medium-6 small-12 cell medium-text-left text-center grid-x grid-margin-x">
                    <div class="medium-shrink cell">
                        <a href="/privacy-policy" target="_blank">Privacy Policy</a>
                    </div>
                    <div class="cell spacer show-for-small-only"></div>
                    <div class="medium-shrink cell">
                        <a href="/terms-and-conditions" target="_blank">Terms and Conditions</a>
                    </div>
                </div>
                <div class="cell spacer show-for-small-only"></div>
                <div class="large-6 medium-6 small-12 cell medium-text-right text-center">
                    <div>
                    <ul class="menu social">
                        <li>
                            <a class="footer-links" href="www.facebook.com" data-test="footer-link-facebook" target="_blank" title="facebook" rel="noreferrer">
                                <i class="icon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a class="footer-links" href="www.twitter.com" data-test="" target="_blank" title="" rel="noreferrer">
                                <i class="icon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="footer-links" href="www.linkedin.com" data-test="" target="_blank" title="" rel="noreferrer">
                                <i class="icon-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="grid-x">
                <div class="large-6 medium-6 small-12 cell medium-text-left text-center">
                    <p style="color: #595959">Copyright © 2023 Insites Template.</p>
                </div>
                <div class="small-12 cell spacer show-for-small-only"></div>
                <div class="large-6 medium-6 small-12 cell medium-text-right text-center">
                    <p style="color: #595959"> Built by <a target="_blank" href="https://www.combinate.me/">Combinate</a>. Powered by <a target="_blank" href="https://www.insites.io/">Insites</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
</footer>

{%- include 'modules/website/layout/foot' -%}