<hr>
<footer class="blocks-footer-02 footer bg-color-ui-01">
  <div class="wrapper">
    <div class="grid-container">
      <div id="scroll-to-top-btn" class="scroll-to-top-btn show-for-smll-only">
        <ins-button solid color="grey" id="scroll-to-top" icon="icon-angle-up" label="">
        </ins-button>
      </div>
      <div class="spacer xxxx-large"></div>
      <div class="grid-x grid-padding-x gutter-medium">
        <div class="large-6 medium-6 small-12 cell">
          <div class="logo-holder"> 
            <img class="logo" src="{{ 'modules/website/images/ins-logo.png' | asset_url }} " alt="logo" />
          </div>
        </div>
        <div class="large-2 medium-6 small-12 cell">
          <div class="spacer xxx-large show-for-small-only"></div>
          <ul class="vertical menu">
            <li>
              <a class="navigation-level-1 color-font-head">FAQs</a>
              <div class="spacer"></div>
              <a class="navigation-level-1 color-font-head">Articles</a>
              <div class="spacer"></div>
              <a class="navigation-level-1 color-font-head">Timeline</a>
            </li>
          </ul>
        </div>
        <div class="large-2 medium-6 small-12 cell">
          <div class="spacer xxx-large hide-for-large"></div>
          <ul class="vertical menu">
            <li><a class="navigation-level-1 color-font-head" data-test="">Documentation</a>
              <div class="spacer"></div>
            </li>
            <li>
              <a class="footer-links color-font-head" data-test="">
                <span>Getting Started</span>
              </a>
              <div class="spacer small"></div>
            </li>
            <li>
              <a class="footer-links color-font-head" data-test="">
                <span>CRM</span>
              </a>
              <div class="spacer small"></div>
            </li>
            <li>
              <a class="footer-links color-font-head" data-test="">
                <span>Event Stream</span>
              </a>
              <div class="spacer small"></div>
            </li>
            <li>
              <a class="footer-links color-font-head" data-test="">
                <span>Database Manager</span>
              </a>
              <div class="spacer small"></div>
            </li>
            <li>
              <a class="footer-links color-font-head" data-test="">
                <span>Permission Manager</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="large-2 medium-6 small-12 cell">
          <div class="spacer xxx-large hide-for-large"></div>
          <ul class="vertical menu">
            <li><a class="navigation-level-1 color-font-head" data-test="">Discover</a>
              <div class="spacer"></div>
            </li>
            <li>
              <a class="footer-links color-font-head" data-test="">
                <span>Website</span>
                <i class="icon-external-link1"></i>
              </a>
              <div class="spacer small"></div>
            </li>
            <li>
              <a class="footer-links color-font-head" data-test="">
                <span>Community</span>
                <i class="icon-external-link1"></i>
              </a>
              <div class="spacer small"></div>
            </li>
            <li>
              <a class="footer-links color-font-head" data-test="">
                <span>Roadmap</span>
                <i class="icon-external-link1"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="spacer xxxx-large"></div>
    </div>
  </div>

  <div class="bg-color-main">
    <div class="wrapper">
      <div class="grid-container">
        <div class="spacer small"></div>
        <div class="bottom-footer grid-x align-middle body-small">
          <div class="large-6 medium-shrink small-12 cell">
            <div class="text-center no-bullet inline-list show-for-small-only">
              <div><a>Privacy Policy</a></div>
              <div class="spacer small"></div>
              <div><a data-test="footer-link-mobile-privacy-policy">Terms and Conditions</a></div>
              <!-- <div class="spacer small"></div> -->
              <!-- <div><a data-test="footer-link-mobile-terms-condition">Sitemap</a></div> -->
            </div>
            <ul class="no-bullet inline-list show-for-medium">
              <li><a>Privacy Policy</a></li>
              <li><a data-test="footer-link-privacy-policy">Terms and Conditions</a></li>
            </ul>
          </div>
          <div class="large-6 medium-auto small-12 cell medium-text-right text-center">
            <div class="spacer xxx-large show-for-small-only"></div>
            <p class="copyright body-small">Copyright © 2021 Insites Template. Powered by <a href="/"
                target="_blank" data-test="footer-link-insites">Insites</a>.
            </p>
          </div>
        </div>
        <div class="spacer small"></div>
      </div>
    </div>
  </div>
</footer>
{%- include 'modules/website/layout/technical_foot' -%}

