---
metadata: {
    partial_name: 'Website | Layout | Header'
}
---

{% comment %} Used in Ecommerce Template {% endcomment %}

{% comment %} ? GET GLOBAL CONTENT {% endcomment %}
{%- include "modules/insites_cms/globals" -%}
{%- assign global = context.exports.global -%}

<header  id="main-header">
  <div class="wrapper">
    <div class=" grid-container grid-x align-middle">
      <div class="large-2 medium-3 small-8 cell">
        <a href="/">
          {% comment %} ? SETTING LOGO BY DEFAULT {% endcomment %}
          {% if global.company_logo == nil or global.company_logo contains "client-logo.png" %}
              {% comment %} ? DEFAULT {% endcomment %}
              <img class="logo" src="{{ 'modules/website/images/default-images/logo/insites-logo.png' | asset_url }}" alt="Logo" height="56" width="119">
          {% else %}
              {% comment %} ? FETCHED FROM IIA -> CMS -> GLOBALS {% endcomment %}
              <img class="logo" src="{{ global.company_logo }}" alt="Logo" height="56" width="119">
          {% endif %}
        </a>
      </div>

      <div class="large-10 medium-3 small-8 cell">
          <div class="navlinks">
            <a href="">About us</a>

            <ins-dropdown label="Features">
              <ins-dropdown-item label="Easy-to-use intuitive interface" link="/returns"></ins-dropdown-item>
              <ins-dropdown-item label="Prebuilt & custom components" link="/service-request"></ins-dropdown-item>
              <ins-dropdown-item label="Fully customisable to fit your needs" link="/service-request"></ins-dropdown-item>
              <ins-dropdown-item label="Multi-user access" link="/service-request"></ins-dropdown-item>
            </ins-dropdown>

            <a href="">FAQ</a>
            <a href="">News</a>
            <a href="">Contact</a>
            <a class="nav-sign-in-btn" href="">Sign in</a>
            <a class="nav-register-btn" href="">Create account</a>

          </div>
      </div>

      
    </div>
  </div>
</header>
    