<div class="navigation-04 drawer-holder">
  <ins-drawer no-padding id="mobile-menu" show-header=false position="right">
    <div>
      <ul class="vertical menu">
        <!-- normal list -->
        <li>
          <a>
           Shipping and Delivery
          </a>
        </li>
        <!-- /normal list -->
        <!-- normal list -->
        <li>
          <a>
           Orders
          </a>
        </li>
        <!-- /normal list -->
        <!-- normal list -->
        <li>
          <a>
           Returns
          </a>
        </li>
        <!-- /normal list -->
        <!-- normal list -->
        <li>
          <a>
           Membership
          </a>
        </li>
        <!-- /normal list -->
        <!-- normal list -->
        <li>
          <a>
           Go to Website
          </a>
        </li>
        <!-- /normal list -->
      </ul>
    </div>
  </ins-drawer>
</div>