<ins-drawer no-padding id="mobile-menu" show-header="false" class="hide-for-large" >
  <div>
    <ul class="vertical menu">
      <!-- normal list -->
      <li>
        <a href="/about-us">
          About us
        </a>
      </li>
      <!-- /normal list -->
      
      <!-- normal list -->
      <li>
        <ins-accordion menu>
          <ins-accordion-item heading="Services" link="/services" open-icon="icon-angle-down" close-icon="icon-minus"
            class="has-subitems servicesMenuSubitems">
              {% comment %} connect services to graphql {% endcomment %}
              {%- graphql get_services = 'modules/website/content/get_services' -%}
              {% comment %} assign var to fetch the result {% endcomment %}
              {%- assign res_services = get_services | dig: 'items', 'results' -%}
              
              {% for item in res_services %}
                <ins-accordion-link label="{{item.service_name}}" link="/services/{{ item.slug }}">
                </ins-accordion-link>
              {% endfor %}   
          </ins-accordion-item>
        </ins-accordion>
      </li>
      <!-- /normal list -->
      
      <!-- normal list -->
      <li>
        <a href="/faqs">
          FAQ
        </a>
      </li>
      <!-- /normal list -->
      
      <!-- normal list -->
      <li>
        <a href="/news">
          News
        </a>
      </li>
      <!-- /normal list -->

      <!-- normal list -->
      <li>
        <a href="/contact">
          Contact
        </a>
      </li>
      <!-- /normal list -->

      {% if context.current_user == nil %}
        <li>
          <a class="" href="/sign-in" style="color: #116ec3"> 
            <i class="icon-user"></i> 
            <span>Sign in</span>
          </a>
        </li>
        
        <li>
          <a href="/register">
            <ins-button class="hide-for-small-only" solid label="Register">
            </ins-button>
          </a>
        </li>

      {%else%}
      <li>
        <ins-accordion menu>
          <ins-accordion-item heading="{{ context.current_user.first_name }} {{ context.current_user.last_name }}" link="/" open-icon="icon-angle-down" close-icon="icon-minus"
            class="has-subitems servicesMenuSubitems">
                <ins-accordion-link label="My Details" link="/my-details">
                </ins-accordion-link>
                <ins-accordion-link label="Change Password" link="/password-reset">
                </ins-accordion-link>
                <ins-accordion-link label="" link="">
                  <div style="padding: 20px 15px">
                    {% include_form 'modules/client/sign_out' %}
                  </div>

                </ins-accordion-link>
          </ins-accordion-item>
        </ins-accordion>
      </li>
      {%endif%}



    </ul>
  </div>
</ins-drawer>


