<section class="news-banner">
    <div class="blocks-hero-04 wrapper">
        <div class="grid-container">
            <div class="spacer x-large"></div>
            <div class="grid-x align-center">
                <div class="large-8 medium-10 small-12 cell">
                    <div class="title">
                        {%- if context.params.keyword == "" or context.params.keyword == blank-%}
                            <h1 class="colorWhite centered">News</h1>
                        {%- else -%}
                            <h1 class="colorWhite centered">Search Result for <b>"{{ context.params.keyword}}"</b></h1>
                        {%- endif -%}
                    </div>
                    <div class="spacer"></div>
                    <ins-input
                        id="search-input"
                        placeholder="Search" 
                        value="{{ context.params.keyword}}"
                        field="text"
                        icon="icon-search"
                        icon-event="true"
                        error-message="Search Keyword cannot be blank">
                    </ins-input>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var searchKey = document.getElementById('search-input');
    function goToSearch (){
        var empty = checkIfEmpty(searchKey.value);
        if (!empty){
            window.location.href = "/search?keyword=" + searchKey.value;
        }
    }
    function checkIfEmpty(searchString){
        if(searchKey.value == ""){
            searchKey.setAttribute("has-error", "");
            return true;
        }else{
            searchKey.removeAttribute("has-error");
            return false;
        }
    }
    searchKey.addEventListener('insIconClick', goToSearch);
    searchKey.addEventListener('insInput', e => {
        if (e.detail.keyCode === 13) goToSearch();
    });
    searchKey.addEventListener('insValueChange', e => {
        checkIfEmpty(searchKey.value);
    });
</script>
