---
metadata: {
    partial_name: 'Portal | System | Thank you feedback'
}
---

<div class="thank-you">
    <div class="spacer xxxx-large"></div>
        <div class="grid-x grid-padding-x text-center">
            <div class="large-12 medium-12 small-12 cell">

                <div class="thank-you-img spacer">
                    <i class="icon-number-of-checks"></i>
                </div>

                <h1 class="heading-1">Thank You!</h1>
                <div class="spacer"></div>
                <p class="subHeading">Your feedback has been submitted.</p>

            </div>
        </div>
    <div class="spacer xxxx-large"></div>
</div>
    
