---
name: change_password
resource: User
resource_owner: anyone
redirect_to: /sign-out
flash_alert: Error-UserPassword
flash_notice: Success-UserPassword
fields:
  password:
    validation:
      confirmation: true
      presence:
        message: Password is required
  password_confirmation:
    validation: 
      presence:
        message: Password should match
    property_options:
      virtual: true
---

{%- form 
    html-id: "user-password-form"
    html-class: 'insites-form insites-form-code' 
    html-novalidate: true
    html-enctype="multipart/form-data"
    html-onsubmit:"return UserProfileScript.methods.validateForm(event);" -%}

    <div class="insites-form-grid">
        <div class="form-group change-password-form" active>

        <div class="column-1">
            <div class="spacer xx-large"></div>
            <h5 class="heading-5">Change password</h5>
            <div class="spacer small"></div>
            <p class="p-dark">Please note that you will automatically be signed out after succesfully changing your password.</p>
            <div class="spacer small"></div>
      </div>

      <div class="column-2">
        <ins-input validate
          id="password"
          label="New Password"
          field="password"
          name="{{ form.fields.password.name }}" 
          value="{{ form.fields.password.value }}" 
          {% assign errmatch = form.fields.password.validation.errors | any: "doesn't match Password" %}
          {% if errmatch %}
          error-message="Password doesn't match" 
          {% else %}
          error-message="Invalid password" 
          {% endif %}
          placeholder="New password">
        </ins-input>
      </div>


      <div class="column-2">
        <ins-input validate
            id="password_confirmation"
            label="Confirm Password"
            field="password"
            name="{{ form.fields.password_confirmation.name }}" 
            value="{{ form.fields.password_confirmation.value }}" 
            {% assign errmatch = form.fields.password.validation.errors | any: "doesn't match Password" %}
            {% if errmatch %}
            error-message="Password doesn't match" 
            {% else %}
            error-message="Invalid password" 
            {% endif %}
            placeholder="Confirm Password">
        </ins-input>    
      </div>


      <div class="column-1 text-right">
        <div class="small-12 cell spacer small"></div>
        <div class="small-12 cell">
            <ins-button id="save-password-btn" label="Update password" icon="icon-key" outlined type="submit" ></ins-button>
        </div>
      </div>
    
    </div>
</div>      

{%- endform -%}