---
metadata: {
    partial_name: 'Website | Map | Google map static'
}
---

{%- capture 'map_style' -%}
style=element:labels.text.fill%7Ccolor:0x333333%7Clightness:40&
style=feature:water%7Celement:geometry%7Ccolor:0xe9e9e9%7Clightness:17&
style=feature:landscape%7Celement:geometry%7Ccolor:0xf5f5f5%7Clightness:20&
style=feature:road.highway%7Celement:geometry.fill%7Ccolor:0xffffff%7Clightness:17&
style=feature:road.highway%7Celement:geometry.stroke%7Ccolor:0xffffff%7Clightness:29%7Cweight:0.2&
style=feature:road.arterial%7Celement:geometry%7Ccolor:0xffffff%7Clightness:18&
style=feature:road.local%7Celement:geometry%7Ccolor:0xffffff%7Clightness:16&
style=feature:poi%7Celement:geometry%7Ccolor:0xf5f5f5%7Clightness:21&
style=feature:poi.park%7Celement:geometry%7Ccolor:0xdedede%7Clightness:21&
style=element:labels.text.stroke%7Cvisibility:on%7Ccolor:0xffffff%7Clightness:16&
style=element:labels.icon%7Cvisibility:off&
style=feature:transit%7Celement:geometry%7Ccolor:0xf2f2f2%7Clightness:19&
style=feature:administrative%7Celement:geometry.fill%7Ccolor:0xfefefe%7Clightness:20&
style=feature:administrative%7Celement:geometry.stroke%7Ccolor:0xfefefe%7Clightness:17%7Cweight:1.2
{%- endcapture -%}

{% liquid

    assign base_map_url = "https://maps.googleapis.com/maps/api/staticmap" 

    assign address = address | url_encode
    if latitude != blank and longitude != blank
        assign address = latitude | append: "," | append: longitude
    endif

    assign marker_position = "markers=size:mid%7C" | append: address
%}

{%- assign full_map_url = base_map_url 
    | append: "?center=Australia" | append: address 
    | append: "&zoom=15&size=390x300&maptype=roadmap&" 
    | append: marker_position 
    | append: "&key=" | append: key 
    | append: "&" | append: map_style
    | append: "&" | append: "callback=initMap"
-%}

<div class="google-map-img">
    <img src="{{ full_map_url }}" loading="lazy">
</div>